.popup
	.popup__layer
		#country-popup.sidebar-popup
			//- form
			//- 	.input-group
			//- 		input(type="checkbox" id="AT-chbx")
			//- 		label(for="AT-chbx")
			//- 			|Австрия
			//- 	.input-group
			//- 		input(type="checkbox" id='DE-chbx')
			//- 		label(for="DE-chbx")
			//- 			|Германия
			//- 	.input-group
			//- 		input(type="checkbox" id='DK-chbx')
			//- 		label(for="DK-chbx")
			//- 			|Дания
			//- 	.input-group
			//- 		input(type="checkbox" id='NO-chbx')
			//- 		label(for="NO-chbx")
			//- 			|Норвегия
			//- 	.input-group
			//- 		input(type="checkbox" id='FI-chbx')
			//- 		label(for="FI-chbx")
			//- 			|Финляндия
			//- 	.input-group
			//- 		input(type="checkbox" id='SE-chbx')
			//- 		label(for="SE-chbx")
			//- 			|Швеция
		#type-manufactury-popup.sidebar-popup
			form.flex-form
				fieldset
					.input-group
						input(type="checkbox" id="flowers-chbx")
						label(for="flowers-chbx")
							|цветы
					.input-group
						input(type="checkbox" id="vegetables-chbx")
						label(for="vegetables-chbx")
							|овощи
					.input-group
						input(type="checkbox" id="cows-chbx")
						label(for="cows-chbx")
							|коровы
					.input-group
						input(type="checkbox" id="pigs-chbx")
						label(for="pigs-chbx")
							|свиньи
					.input-group
						input(type="checkbox" id="fields-chbx")
						label(for="fields-chbx")
							|поля
				fieldset
					.input-group
						input(type="checkbox" id="berries-chbx")
						label(for="berries-chbx")
							|ягоды
					.input-group
						input(type="checkbox" id="greenhouses-chbx")
						label(for="greenhouses-chbx")
							|теплицы
					.input-group
						input(type="checkbox" id="wood-chbx")
						label(for="wood-chbx")
							|лес
					.input-group
						input(type="checkbox" id="landscape-chbx")
						label(for="landscape-chbx")
							|ландшафт
					.input-group
						input(type="checkbox" id="horses-chbx")
						label(for="horses-chbx")
							|лошади
		#contact-popup.sidebar-popup
			form
				.input-group
					input(type="checkbox" id="phone-chbx")
					label(for="phone-chbx")
						|Телефон
				.input-group
					input(type="checkbox" id="email-chbx")
					label(for="email-chbx")
						|E-mail
				.input-group
					input(type="checkbox" id="mail-address-chbx") 
					label(for="mail-address-chbx")
						|Почтовый адрес
				.input-group
					input(type="checkbox" id="site-chbx")
					label(for="site-chbx")
						|Сайт
				.input-group
					input(type="checkbox" id="facebook-chbx")
					label(for="facebook-chbx")
						|Facebook
				.input-group
					input(type="checkbox" id="instagram-chbx")
					label(for="instagram-chbx")
						|Instagram
		#last-contact-popup.sidebar-popup
			form
				.input-group
					input(type="radio" id="1-month-rbtn" name="last-contact-rbtn")
					label(for="1-month-rbtn")
						|более 1 мес назад
				.input-group
					input(type="radio" id="3-month-rbtn" name="last-contact-rbtn")
					label(for="3-month-rbtn")
						|более 3 мес назад
				.input-group
					input(type="radio" id="6-month-rbtn" name="last-contact-rbtn") 
					label(for="6-month-rbtn")
						|более 6 мес назад
				.input-group
					input(type="radio" id="never-rbtn" name="last-contact-rbtn")
					label(for="never-rbtn")
						|никогда
		#managers-popup.sidebar-popup
			//- form
			//- 	.input-group
			//- 		input(type="checkbox" id="AK-chbx")
			//- 		label(for="AK-chbx")
			//- 			i.tag.manager-tag.dark-blue-tag
			//- 				|AK
			//- 			|Алексей Ключников
			//- 	.input-group
			//- 		input(type="checkbox" id='CK-chbx')
			//- 		label(for="CK-chbx")
			//- 			i.tag.manager-tag.light-green-tag
			//- 				|CK
			//- 			|Светлана Ковальчук
		#intermediaries-popup.sidebar-popup
			form
			//- 	.input-group.radio-group-type-1
			//- 		input(type="radio" id="show-rbtn" name="intermediaries-rbtn" checked="true")
			//- 		label(for="show-rbtn")
			//- 			|Показать
			//- 		input(type="radio" id="remove-rbtn" name="intermediaries-rbtn")
			//- 		label(for="remove-rbtn")
			//- 			|Исключить
			//- 	.input-group
			//- 		input(type="checkbox" id="AngriNord-chbx")
			//- 		label(for="AngriNord-chbx")
			//- 			|AngriNord
			//- 	.input-group
			//- 		input(type="checkbox" id='Victoria-chbx')
			//- 		label(for="Victoria-chbx")
			//- 			|Виктория
			//- 	.input-group
			//- 		input(type="checkbox" id='Yanina-chbx')
			//- 		label(for="Yanina-chbx")
			//- 			|Янина
		#vacancies-popup.sidebar-popup
			form
				fieldset
					.input-group
						input(type="checkbox" id="Earlier-chbx")
						label(for="Earlier-chbx")
							|Ранее предоставляли вакансии
				fieldset
					p
						|Тип вакансии
					.input-group.radio-group-type-2
						.group
							input(type="checkbox" id="season-chbx" name="vacancies-chbx" checked="true")
							label(for="season-chbx")
								|Сезонная
							input(type="checkbox" id="practice-chbx" name="vacancies-chbx")
							label(for="practice-chbx")
								|Практика
							input(type="checkbox" id="work-chbx" name="vacancies-chbx")
							label(for="work-chbx")
								|Рабочая
				fieldset
					p
						|Срок вакансии
					.input-group.radio-group-type-2.yellow
						.group
							input(type="checkbox" id="3mnth-chbx" name="vacancies-chbx-2" checked="true")
							label(for="3mnth-chbx")
								|до 3 мес
							input(type="checkbox" id="3-6mnth-chbx" name="vacancies-chbx-2")
							label(for="3-6mnth-chbx")
								|3 - 6 мес
							input(type="checkbox" id="6-9mnth-chbx" name="vacancies-chbx-2")
							label(for="6-9mnth-chbx")
								|6 - 9 мес
						.group
							input(type="checkbox" id="9-12mnth-chbx" name="vacancies-chbx-2")
							label(for="9-12mnth-chbx")
								|9 - 12 мес
							input(type="checkbox" id="12mnth-chbx" name="vacancies-chbxn-2")
							label(for="12mnth-chbx")
								|12 +
		#sorting-popup.sidebar-popup
			form
				.input-group
					input(type="radio" id="date-rbtn" name="sorting-rbtn")
					label(for="date-rbtn")
						|По внесению
				.input-group
					input(type="radio" id='name-rbtn' name="sorting-rbtn")
					label(for="name-rbtn")
						|По имени
				.input-group
					input(type="radio" id='contacts-rbtn' name="sorting-rbtn")
					label(for="contacts-rbtn")
						|По контактам
				.input-group
					input(type="radio" id='vacancies-rbtn' name="sorting-rbtn")
					label(for="vacancies-rbtn")
						|По вакансиям
		#type-feedback-popup.work-modal-popup
			form
				p
					|Тип отзыва
				.input-group
					input(type="radio" id="inf-feedback-rbtn" name="type-feedback-rbtn")
					label(for="inf-feedback-rbtn")
						i.ico
							+svg2('inf-feedback')
						|Информационный
				.input-group
					input(type="radio" id='pos-feedback-rbtn' name="type-feedback-rbtn")
					label(for="pos-feedback-rbtn")
						i.ico
							+svg2('pos-feedback')
						|Хороший отзыв
				.input-group
					input(type="radio" id='neg-feedback-rbtn' name="type-feedback-rbtn")
					label(for="neg-feedback-rbtn")
						i.ico
							+svg2('neg-feedback')
						|Плохой отзыв
				button.confirm-bnt
					span
						|OK
		#choice-client-feedback-popup.work-modal-popup
			form
				.input-group
					input(type="radio" id="client-feedback-rbtn" name="client-feedback-rbtn")
					label(for="client-feedback-rbtn")
						|Выберите клиента
					input.find-client(type="text")
					//- ul.autocomplete-result-list
				.input-group
					input(type="radio" id='uamf-feedback-rbtn' name="client-feedback-rbtn")
					label(for="uamf-feedback-rbtn")
						|УАМФ
				button.confirm-bnt
					span
						|OK
		include work-popup/_work-popup