.popup
	.popup__layer
		#country-popup.sidebar-popup
			form.flex-form
		#type-manufactury-popup.sidebar-popup
			form.flex-form
		#contact-popup.sidebar-popup
		#last-contact-popup.sidebar-popup
		#managers-popup.sidebar-popup.managers-popup-employer
		#intermediaries-popup.sidebar-popup
		#vacancies-popup.sidebar-popup
			form
		#sorting-popup.sidebar-popup
		include work-popup/_work-popup