.sidebar__layout
	.f-container
		.sidebar__avatar
			a.sidebar__avatar-link(href="")
				img.sidebar__ava(src="img/ava.png", alt="Avatar")
			p.sidebar__name
				|Василий

		.sidebar__lists
			ul.sidebar__list
				li.sidebar__list-item
					p
						|Вакансии
					span.sidebar__list-add
						span
						span
				li.sidebar__list-item
					p
						|Клиенты
					span.sidebar__list-add
						span
						span
				li.sidebar__list-item.active
					p
						|Работодатели
					span.sidebar__list-add
						span
						span
				li.sidebar__list-item
					p
						|Статистика
					span.sidebar__list-add
						span
						span
		.sidebar__filters
			input.sidebar__search-input
			ul.sidebar__filter
				li.sidebar__filter-item
					p
						|Страны
					span.sidebar__filter-remove
				li.sidebar__filter-item
					p
						|Типы производства
					span.sidebar__filter-remove
				li.sidebar__filter-item
					p
						|Контактные данные
					span.sidebar__filter-remove
				li.sidebar__filter-item
					p
						|Менеджеры
					span.sidebar__filter-remove
				li.sidebar__filter-item
					p
						|Посредники
					span.sidebar__filter-remove
				li.sidebar__filter-item
					p
						|Вакансии
					span.sidebar__filter-remove
				li.sidebar__filter-item
					p
						|Последний контакт
					span.sidebar__filter-remove
		.sidebar__wrapper
			.sidebar__stats
				.sidebar__stats-top
					ul.sidebar__stat
						li.sidebar__stat-item
							p
								|Сортировка
				.sidebar__stats-bottom
					ul.sidebar__stat
						li.sidebar__stat-item
							p
								|Сгенерировать в Excel
						li.sidebar__stat-item
							p
								|Распечатать отчет
			.sidebar__info
				p.sidebar__choosed
					|Отобрано:
					span
						|56
				p.sidebar__full-number
					|Общее количество:
					span
						|42846