// .modal_short {
//     position: absolute;
//     background-color: #85a6cb;
//     width: auto;
//     // height: 100%;
//     box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
//     /*padding: 25px;*/
//     color: white;
//     z-index: 2;
//     border-radius: 4px;
//     transform: translateY(-50%);
// }

// .modal_short > svg {
//     position: absolute;
//     left: -7px;
//     top: 50%;
//     transform: translate(0, -50%);
//     width: 10px;
//     height: 20px;
// }

// .modal_short > svg > polygon {
//     fill: @main-color;
//     stroke:  @main-color;
// }



//////////////////////////////

.tippy-content {
        padding: 0;
    }

.sidebar-popup {
    font-size: 12px;
    line-height: 14/12;
    display: none;
    .tag  {
        margin-right: 9px;
    }
    form {
        height: 100%;
        // display: flex;
        // flex-wrap: wrap;
        padding: 18px;
        // padding-top: 13px;
        width: auto;
        // width: min-content;
    }

    fieldset {
        width: 100%;
        border: none;
        padding: 0;
        margin: 0;
        &:not(:last-child) {
            border-bottom: 1px solid @white;
            padding-bottom: 12px;
        }

         &:not(:first-child) {
            padding-top: 15px;
        }
        p {
            color: @white;
            margin-bottom: 12px;
            display: block;
        }
    }

    .input-group {
        width: 100%;
        color: @white;
        // display: flex;

    }
}


#type-manufactury-popup {
      fieldset {
                border: none;
                margin: 0;
                padding: 0;
            }
            fieldset:not(:last-child) {
            margin-right:   53px;
        }
}