@import url("app/less/_var.less");
@import url("app/less/_mixins.less");

html {
  font-size: 14px;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  overflow-x: hidden;
  color: @white;
  height: 100%;
  width: 100%;
 
}

::selection {
  background: rgba(@main-color);
  color: @white;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: @font-color;
  // letter-spacing: 1.15px;
  letter-spacing: 0.01rem;
  line-height: 1;
  background-color: @white;

}




div,
a {
  outline: none;
  color: @font-color;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

img, picture, source{
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

h2 {
  overflow-wrap: break-word;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  display: block;
  color: @font-color;
  cursor: pointer;
  font-weight: normal;
}

input, select {
  width: 100%;
  outline: none;
  border: none;
  text-align: center;
}


label {
  margin-bottom: 0;
  font-size: 12px;
  font-weight:400;
}






//??????????????????

input[type="checkbox"], input[type="radio"]{
    display: none;
}

input[type="checkbox"] + label, input[type="radio"] + label {
  display: flex;
  padding: 5px;
  white-space: nowrap;
  align-items: center;
}
input[type="checkbox"] + label:before{
    content: "\2714";
    color: @secondary;
    background-color: @secondary;
    display: inline-block;
    border: none;
    border-radius: 3px;
    margin: 0 10px 0 0;
    height: 12px;
    width: 12px;
    line-height: 1.3;
    text-align: center;
    /*vertical-align: baseline;*/
    font-size: 8pt;
    /*margin-bottom: -5px;*/
    transition: color 0.1s ease 0s;
}
input[type="radio"] + label:before{
    content: "\2714";
    color: @secondary;
    background-color: @secondary;
    display: inline-block;
    border: none;
    border-radius: 6px;
    margin: 0 10px 0 0;
    height: 12px;
    width: 12px;
    line-height: 1.3;
    text-align: center;
    /*vertical-align: baseline;*/
    font-size: 8pt;
    transition: color 0.1s ease 0s;
}
input[type="radio"] + span:before{
    content: "\2714";
    color: @white;
    background-color: @white;
    display: inline-block;
    border: none;
    border-radius: 6px;
    margin: 0px 10px 0 0;
    height: 12px;
    width: 12px;
    line-height: 1.3;
    text-align: center;
    /*vertical-align: baseline;*/
    font-size: 8pt;
    transition: color 0.1s ease 0s;
}
input[type="checkbox"]:checked + label:before, input[type="radio"]:checked + label:before, input[type="radio"]:checked + span:before{
    color: @font-color;
}

//???????????????


main {
  height: 100%;
  width: 100%;
}
.center {
  max-width: 1540px + 30px + 30px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.f-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}


//|||||||||||||||||||COMMON ELEMENTS|||||||||||||||||||//

.main-btn {
  font-family: Nunito,sans-serif;
  border-radius: 25px;
  background: @main-color;
  width: 100%;
  max-width: 150px;
  letter-spacing: 0rem;
  font-size: (16px/16px) * 1rem;
  line-height: 1;
  font-weight: 600;
  padding: 14px 18px;
  text-align: center;
  color: @white;
  transition: color .20s cubic-bezier(.75,.1,.25,.9);
  outline: none;
  border: none;
  width: 100%;
  overflow: hidden;
  cursor: pointer;

  letter-spacing: 0.1px;
  position: relative;

    &:hover {
      color: @white;
      & .btn-overlay {
        transform: translate(-50%, -50%) scale(1,1);
      }
  }
}


main.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: stretch;
  overflow-x: auto;
}


.rows {
  // flex-basis: 1720/1920 * 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

}

.sidebar {
  flex-basis: 200/1920 * 100%;
  min-width: 200px;
  position: relative;
}


.tag {
  background: @secondary;
  font-size:12px;
  line-height: 14/12;
  color: @white;
  font-weight: 500;
  border-radius: 14px;
  padding: 2px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  border: 1px solid @white;
  width: 26px;
  white-space: nowrap;
}

span.negative {
  color: @orange;
}

.number-of-people {
  text-transform: uppercase;
}


.dark-blue-tag{
  background: @dark-blue;
}

.light-green-tag {
  background: @light-green;
}

.ico {
  width: 20px;
  height: 20px;
  svg {
    width: 20px;
    height: 20px;
  }
}


.attention-tag {
  display: flex;
  justify-content: center;
  align-items: center;
}


i.label {
  line-height: 16/14;
  vertical-align: middle;
  color: @white;
  font-style: normal;
  font-weight: 500;
  background: @main-color;
  padding: 4px 7px;
  padding-bottom: 2px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  &:not(:last-child) {
    margin-right: 15px;

  }
  span {
    line-height: 16/14;
    &:not(:last-child) {
       margin-right: 5px;
    }
   
  }
}


.label.attention__label {
  background: @orange;
}

.attention-number {
  color: @orange;
}

.label.success__label {
  background: @teal;
}

.success-number {
  color: @teal;
}

.label.success-2__label {
  background: @grass-green;
}

.label.primary__label {
  background: @blue;
}


  .tippy-box {
    background: @main-color;
    
  }

  .tippy-content {
    color: @white;
  }

  .tippy-arrow {
    color: @main-color;
  }

.radio-group-type-1 {
  margin-bottom: 11px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
    input {
      &:first-of-type {
        & + label {
          border-top-left-radius: 25px;
          border-bottom-left-radius: 25px;
        }
      }
      &:last-of-type {
        & + label {
          border-top-right-radius: 25px;
          border-bottom-right-radius: 25px;
        }
      }
      & + label {
      cursor: pointer;
      color: @main-color;
      background: @secondary;
      width: 80px;
      text-align: center;
      padding: 2px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      &:before {
        content: none;
      }
    }

      &:checked + label {
        color: @white;
        background: @blue;
      }
  }
}



.radio-group-type-2 {
  // margin-bottom: 11px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

    .group {
      width: 100%;
      // margin: 0 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
      
    }
    input {
    
      & + label {
      cursor: pointer;
      color: @main-color;
      background: @secondary;
      width: 69px;
      display: block;
      text-align: center;
      padding: 2px 0;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:not(:last-child) {
        margin-right: 10px;
      }

      &:before {
        content: none;
      }
    }

      &:checked + label {
        color: @white;
        background: @green;
      }
  }

  &.yellow {
    input {
      &:checked + label {
        color: @main-color;
        background: @yellow;
      }
    }
  }

  &.blue {
    input {
      & + label {
        width:  81px;
      }
    }
    input {
      &:checked + label {
        color: @white;
        background: @blue;
      }
    }
  }
}


.flex-form {
  display: flex;
  flex-wrap: nowrap;
}


.info-area {
  border-radius: 3px;
  background: @white;
  width: 100%;
  border: 2px solid transparent;
  transition: border 0.2s linear;
  outline: none;
  text-align: left;
  padding: 3px 6px;

  &:focus {
    border: 2px solid @main-color;
  }
}


 .native-select {
  position: relative;
  // display: inline-block;
    select {
    padding-right: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
 .native-select:after {
    content: '';
    height: 0;
    width: 0;
    border-style: solid;
    border-color: @main-color transparent transparent;
    border-width: 5px;
    position: absolute;
    right: 11.5px;
    top: 50%;
    margin-top: -2.5px;
    pointer-events: none;
}


.hidden-row {
  display: none!important;
}

.hidden-row-opacity {
  display: none!important;
}


//|||||||||||||||||||COMMON ELEMENTS END|||||||||||||||||||//

//////////////////////////

//////////////////////////

@import url("app/less/_sidebar.less");
@import url("app/less/_row.less");

@import url("app/less/_popup.less");
@import url("app/less/_modal.less");


//Vacancy
@import url("app/less/vacancy/_row.less");
@import url("app/less/vacancy/_sidebar.less");

@import url("app/less/sprite.less");
