.row.clients.modal-row
	i.switcher
			+svg2('Union')
	.modal-row__controls
		p
			|Клиенты
		.add-item
			span
				|+ 
			|добавить клиента
	.modal-row__layer
		.modal-row__clients-row.active
			p
				|Гурківський Олександр, Лемешко Аліна, Романов Валентин, Тарасюк Віталій, Бичківська Алла, Червінський Йосип, Шащук Іван, Іванчик Олесандр, Гурківський Олександр, Лемешко Аліна, Романов Валентин, Тарасюк Віталій, Бичківська Алла, Червінський Йосип, Шащук Іван, Іванчик Олесандр
		.row__full-info.table-full
				.table-full__choosen.choosen
					.table-full__row
						p.table-full__title
							|Отобраны
						.table-full__placeholder.first
						.table-full__placeholder.second
						.table-full__placeholder.third
					.table-full__row.f-container(data-count="2")
							.table-full__cell.row__cell.cell-names
								a(href="#")
									|Гурківський Олександр
								span.row__indicator.indicator.department
									span
										|2
							.table-full__cell.row__cell.cell-status
								.cell-status__left
									.cell-status__slider
										p.status.choosen
											|Подготовка CV
										p.status.choosen.active
											|CV отправлено
										p.status.ready
											|Утвержден
										p.status.ready
											|Контракт подписан
										p.status.wait
											|Подан в визовый центр
										p.status.department
											|Получил разрешение
										p.status.department
											|Забрал разрешение
										p.status.department
											|Билеты куплены
										p.status.busy
											|Трудоустроен
									.cell-status__controls.choosen
										.cell-status__control-left
											i.ico.rotate-left
												+svg2('little-arrow')
										.cell-status__control-right
											i.ico
												+svg2('little-arrow')
								.cell-status__right
									i.ico
										+svg2('phone2')
									i.ico
										+svg2('docs')
									i.ico
										+svg2('page')
									.tag.manager-tag.purple-tag
										|AC
							.table-full__cell.row__cell.cell-exp
							.table-full__cell.row__cell.cell-notes
								input(type="text")
					.table-full__row.f-container(data-count="2")
						.table-full__cell.row__cell.cell-names
							a(href="#")
								|Лемешко Аліна
						.table-full__cell.row__cell.cell-status
							.cell-status__left
								.cell-status__slider
									p.status.choosen
										|Подготовка CV
									p.status.choosen.active
										|CV отправлено
									p.status.ready
										|Утвержден
									p.status.ready
										|Контракт подписан
									p.status.wait
										|Подан в визовый центр
									p.status.department
										|Получил разрешение
									p.status.department
										|Забрал разрешение
									p.status.department
										|Билеты куплены
									p.status.busy
										|Трудоустроен
								.cell-status__controls.choosen
									.cell-status__control-left
										i.ico.rotate-left
											+svg2('little-arrow')
									.cell-status__control-right
										i.ico
											+svg2('little-arrow')
							.cell-status__right
								.tag.manager-tag.purple-tag
									|AC
						.table-full__cell.row__cell.cell-exp
						.table-full__cell.row__cell.cell-notes
							input(type="text")
					.table-full__row.f-container(data-count="2")
						.table-full__cell.row__cell.cell-names
							a(href="#")
								|Романов Валентин
						.table-full__cell.row__cell.cell-status
							.cell-status__left
								.cell-status__slider
									p.status.choosen
										|Подготовка CV
									p.status.choosen.active
										|CV отправлено
									p.status.ready
										|Утвержден
									p.status.ready
										|Контракт подписан
									p.status.wait
										|Подан в визовый центр
									p.status.department
										|Получил разрешение
									p.status.department
										|Забрал разрешение
									p.status.department
										|Билеты куплены
									p.status.busy
										|Трудоустроен
								.cell-status__controls.choosen
									.cell-status__control-left
										i.ico.rotate-left
											+svg2('little-arrow')
									.cell-status__control-right
										i.ico
											+svg2('little-arrow')
							.cell-status__right
								i.ico
									+svg2('phone2')
								i.ico
									+svg2('page')
								.tag.manager-tag.purple-tag
									|AC
						.table-full__cell.row__cell.cell-exp
						.table-full__cell.row__cell.cell-notes
							input(type="text")
					.table-full__row.f-container(data-count="2")
						.table-full__cell.row__cell.cell-names
							a(href="#")
								|Тарасюк Віталій
						.table-full__cell.row__cell.cell-status
							.cell-status__left
								.cell-status__slider
									p.status.choosen
										|Подготовка CV
									p.status.choosen.active
										|CV отправлено
									p.status.ready
										|Утвержден
									p.status.ready
										|Контракт подписан
									p.status.wait
										|Подан в визовый центр
									p.status.department
										|Получил разрешение
									p.status.department
										|Забрал разрешение
									p.status.department
										|Билеты куплены
									p.status.busy
										|Трудоустроен
								.cell-status__controls.choosen
									.cell-status__control-left
										i.ico.rotate-left
											+svg2('little-arrow')
									.cell-status__control-right
										i.ico
											+svg2('little-arrow')
							.cell-status__right
								i.ico
									+svg2('page')
								.tag.manager-tag.purple-tag
									|AC
						.table-full__cell.row__cell.cell-exp
						.table-full__cell.row__cell.cell-notes
							input(type="text")
					.table-full__row.f-container(data-count="2")
						.table-full__cell.row__cell.cell-names
							a(href="#")
								|Бичківська Алла
						.table-full__cell.row__cell.cell-status
							.cell-status__left
								.cell-status__slider
									p.status.choosen
										|Подготовка CV
									p.status.choosen.active
										|CV отправлено
									p.status.ready
										|Утвержден
									p.status.ready
										|Контракт подписан
									p.status.wait
										|Подан в визовый центр
									p.status.department
										|Получил разрешение
									p.status.department
										|Забрал разрешение
									p.status.department
										|Билеты куплены
									p.status.busy
										|Трудоустроен
								.cell-status__controls.choosen
									.cell-status__control-left
										i.ico.rotate-left
											+svg2('little-arrow')
									.cell-status__control-right
										i.ico
											+svg2('little-arrow')
							.cell-status__right
								.tag.manager-tag.purple-tag
									|AC
						.table-full__cell.row__cell.cell-exp
						
							i.label.green__label
								|Д 2
							
							p
								|Агроном
							//- i.label.dirty-green__label
							//- 	|ВСТ
						.table-full__cell.row__cell.cell-notes
							input(type="text")
				.table-full__ready.ready
					.table-full__row
						p.table-full__title
							|Готовятся к подаче
						.table-full__placeholder.first
						.table-full__placeholder.second
						.table-full__placeholder.third
					.table-full__row.f-container(data-count="1")
							.table-full__cell.row__cell.cell-names
								a(href="#")
									|Червінський Йосип
							.table-full__cell.row__cell.cell-status
								.cell-status__left
									.cell-status__slider
										p.status.choosen
											|Подготовка CV
										p.status.choosen
											|CV отправлено
										p.status.ready.active
											|Утвержден
										p.status.ready
											|Контракт подписан
										p.status.wait
											|Подан в визовый центр
										p.status.department
											|Получил разрешение
										p.status.department
											|Забрал разрешение
										p.status.department
											|Билеты куплены
										p.status.busy
											|Трудоустроен
									.cell-status__controls.ready
										.cell-status__control-left
											i.ico.rotate-left
												+svg2('little-arrow')
										.cell-status__control-right
											i.ico
												+svg2('little-arrow')
								.cell-status__right
							.table-full__cell.row__cell.cell-exp
								+stars('EN', 3)
							.table-full__cell.row__cell.cell-notes
								input(type="text" value="Записан в посольство на 10.05 Записан в посольство на 10.05")
					.table-full__row.f-container(data-count="1")
						.table-full__cell.row__cell.cell-names
							a(href="#")
								|Шащук Іван
						.table-full__cell.row__cell.cell-status
								.cell-status__left
									.cell-status__slider
										p.status.choosen
											|Подготовка CV
										p.status.choosen
											|CV отправлено
										p.status.ready.active
											|Утвержден
										p.status.ready
											|Контракт подписан
										p.status.wait
											|Подан в визовый центр
										p.status.department
											|Получил разрешение
										p.status.department
											|Забрал разрешение
										p.status.department
											|Билеты куплены
										p.status.busy
											|Трудоустроен
									.cell-status__controls.ready
										.cell-status__control-left
											i.ico.rotate-left
												+svg2('little-arrow')
										.cell-status__control-right
											i.ico
												+svg2('little-arrow')
								.cell-status__right
						.table-full__cell.row__cell.cell-exp
							i.label.green__label
								|Практика
							p
								|Поля
						.table-full__cell.row__cell.cell-notes
							input(type="text")
				.table-full__wait.wait
					.table-full__row
						p.table-full__title
							|Ждут разрешения
						.table-full__placeholder.first
						.table-full__placeholder.second
						.table-full__placeholder.third
					.table-full__row.f-container(data-count="1")
						.table-full__cell.row__cell.cell-names
							a(href="#")
								|Іванчик Олександр
						.table-full__cell.row__cell.cell-status
							.cell-status__left
								.cell-status__slider
									p.status.choosen
										|Подготовка CV
									p.status.choosen
										|CV отправлено
									p.status.ready
										|Утвержден
									p.status.ready
										|Контракт подписан
									p.status.wait.active
										|Подан в визовый центр
									p.status.department
										|Получил разрешение
									p.status.department
										|Забрал разрешение
									p.status.department
										|Билеты куплены
									p.status.busy
										|Трудоустроен
								.cell-status__controls.wait
									.cell-status__control-left
										i.ico.rotate-left
											+svg2('little-arrow')
									.cell-status__control-right
										i.ico
											+svg2('little-arrow')
							.cell-status__right
						.table-full__cell.row__cell.cell-exp
						.table-full__cell.row__cell.cell-notes
							input(type="text")
					.table-full__row.f-container(data-count="1")
						.table-full__cell.row__cell.cell-names
							a(href="#")
								|Волтарніст Юлія
						.table-full__cell.row__cell.cell-status
							.cell-status__left
								.cell-status__slider
									p.status.choosen
										|Подготовка CV
									p.status.choosen
										|CV отправлено
									p.status.ready
										|Утвержден
									p.status.ready
										|Контракт подписан
									p.status.wait.active
										|Подан в визовый центр
									p.status.department
										|Получил разрешение
									p.status.department
										|Забрал разрешение
									p.status.department
										|Билеты куплены
									p.status.busy
										|Трудоустроен
								.cell-status__controls.wait
									.cell-status__control-left
										i.ico.rotate-left
											+svg2('little-arrow')
									.cell-status__control-right
										i.ico
											+svg2('little-arrow')
							.cell-status__right
						.table-full__cell.row__cell.cell-exp
						.table-full__cell.row__cell.cell-notes
							input(type="text")
					.table-full__row.f-container(data-count="1")
						.table-full__cell.row__cell.cell-names
							a(href="#")
								|Ситнік Оксана
						.table-full__cell.row__cell.cell-status
							.cell-status__left
								.cell-status__slider
									p.status.choosen
										|Подготовка CV
									p.status.choosen
										|CV отправлено
									p.status.ready
										|Утвержден
									p.status.ready
										|Контракт подписан
									p.status.wait.active
										|Подан в визовый центр
									p.status.department
										|Получил разрешение
									p.status.department
										|Забрал разрешение
									p.status.department
										|Билеты куплены
									p.status.busy
										|Трудоустроен
								.cell-status__controls.wait
									.cell-status__control-left
										i.ico.rotate-left
											+svg2('little-arrow')
									.cell-status__control-right
										i.ico
											+svg2('little-arrow')
							.cell-status__right
						.table-full__cell.row__cell.cell-exp
						.table-full__cell.row__cell.cell-notes
							input(type="text")
				.table-full__department.department
					.table-full__row
						p.table-full__title
							|Готовятся к отъезду
						.table-full__placeholder.first
						.table-full__placeholder.second
						.table-full__placeholder.third
					.table-full__row.f-container(data-count="2")
						.table-full__cell.row__cell.cell-names
							a(href="#")
								|Коргун Максим
						.table-full__cell.row__cell.cell-status
							.cell-status__left
								.cell-status__slider
									p.status.choosen
										|Подготовка CV
									p.status.choosen
										|CV отправлено
									p.status.ready
										|Утвержден
									p.status.ready
										|Контракт подписан
									p.status.wait
										|Подан в визовый центр
									p.status.department
										|Получил разрешение
									p.status.department.active
										|Забрал разрешение
									p.status.department
										|Билеты куплены
									p.status.busy
										|Трудоустроен
								.cell-status__controls.department
									.cell-status__control-left
										i.ico.rotate-left
											+svg2('little-arrow')
									.cell-status__control-right
										i.ico
											+svg2('little-arrow')
							.cell-status__right
						.table-full__cell.row__cell.cell-exp
						.table-full__cell.row__cell.cell-notes
							input(type="text")
				.table-full__busy.busy
					.table-full__row
						p.table-full__title
							|Трудоустроены
						.table-full__placeholder.first
						.table-full__placeholder.second
						.table-full__placeholder.third
					.table-full__row.f-container(data-count="1")
						.table-full__cell.row__cell.cell-names
							a(href="#")
								|Конончук Віталій
						.table-full__cell.row__cell.cell-status
							.cell-status__left
								.cell-status__slider
									p.status.choosen
										|Подготовка CV
									p.status.choosen
										|CV отправлено
									p.status.ready
										|Утвержден
									p.status.ready
										|Контракт подписан
									p.status.wait
										|Подан в визовый центр
									p.status.department
										|Получил разрешение
									p.status.department
										|Забрал разрешение
									p.status.department
										|Билеты куплены
									p.status.busy.active
										|Трудоустроен
								.cell-status__controls.busy
									.cell-status__control-left
										i.ico.rotate-left
											+svg2('little-arrow')
									.cell-status__control-right
										i.ico
											+svg2('little-arrow')
							.cell-status__right
						.table-full__cell.row__cell.cell-exp
						.table-full__cell.row__cell.cell-notes
							input(type="text")
