.row.demands.modal-row
	//- .modal-row__controls
	//- 	p
	//- 		|Требования
	//- .modal-row__layer
	//- 	.demands__top
	//- 		.demands__clients.info-block
	//- 				p
	//- 					|Кол-во клиентов
	//- 				.input-group
	//- 					input.info-area(type="text")
	//- 		.demands__men.info-block
	//- 				p
	//- 					|М
	//- 				.input-group
	//- 					input.info-area(type="text")
	//- 		.demands__women.info-block
	//- 				p
	//- 					|Ж
	//- 				.input-group
	//- 					input.info-area(type="text")
	//- 		.demands__languages.info-block
	//- 				p
	//- 					|Уровень владения языками
	//- 				.input-group
	//- 					input.info-area(type="text")
	//- 	.demands__bottom.bottom-areas
	//- 		.demands__experiance.info-block
	//- 				p
	//- 					|Опыт работы
	//- 				.input-group
	//- 					textarea.vacancy-textarea(name="" rows="3")
	//- 		.demands__requirements.info-block
	//- 				p
	//- 					|Особые требования
	//- 				.input-group
	//- 					textarea.vacancy-textarea(name="" rows="3")