.row.main-info.modal-row
	.modal-row__layer.main-info_left
		.main-info__choose-block
			.choose-employer
				p
					|Выберете работодателя
			.choose-product-type
				p.country-vacancy
					|NO 293
				p
					|Выберете тип продукции
			.full-info
				p.country-vacancy
					|NO 293
				p.products
					span.visa-type
						|Сезонная - 
					span.types
						|Цветы, Теплицы, Молочные коровы, Мясные коровы
		.main-info__layer_left
			.main-info__country
				p
					|Страны
				span
					|Норвегия
			.main-info__period
				p
					|Период
				span
					|3 мес
			.main-info__clients
				p
					|Кол-во клиентов
				span.main-info__numbers
					span.number-of-people.total-number.attention-number
						|17 - 
					span.number-of-people.attention-number
						|М12 Ж5
		.main-info__layer_right
			.main-info__price
				p
					|Цена вакансии
				span
					|500 евро
			.main-info__dates
				p
					|Даты
				span
					|01.06.2020 - 15.04.2020
			.main-info__closed-vacancies
				p
					|Закрытые вакансии
				.main-info__indicators
					span.indicator.decline.main-info__indicator
						|4
					span.indicator.choosen.main-info__indicator
						|8
					span.indicator.ready.main-info__indicator
						|5
					span.indicator.wait.main-info__indicator
						|12
					span.indicator.department.main-info__indicator
						|3
					span.indicator.busy.main-info__indicator
						|2
	.modal-row__layer.main-info_right
		.main-info__layer_left
		.main-info__layer_right