.row.terms.modal-row
	.modal-row__controls
		p
			|Условия
	.modal-row__layer
		.terms__top
			.terms__start-date.info-block
				p
					|Дата начала работы
				.input-group
					input(type="text")
			.terms__period.info-block
				p
					|Период (мес)
				.input-group
					input(type="text")
			.terms__salary.info-block
				p
					|Заработная плата
				.input-group
					input(type="text")
		.terms__middle
			.terms__accommodation.info-block
				p
					|Проживание
				.input-group
					textarea.vacancy-textarea(name="" rows="3")
			.terms__nutrition.info-block
				p
					|Питание
				.input-group
					textarea.vacancy-textarea(name="" rows="3")
			.terms__taxes.info-block
				p
					|Налоги
				.input-group
					textarea.vacancy-textarea(name="" rows="3")
		.terms__bottom.bottom-areas
			.terms__work-responsibilities.info-block
				p
					|Рабочие обязаности
				.input-group
					textarea.vacancy-textarea(name="" rows="3")
			.terms__work-time.info-block
				p
					|Рабочее время
				.input-group
					textarea.vacancy-textarea(name="" rows="3")