#modal-3.modal.micromodal-slide()
	.modal__overlay()
		.modal__wrapper.my-modal-wrapper
			.modal__container.work-modal.my-modal()
				span.modal__close()
					span
					span
				.sidebar
					.sidebar__layout
						.f-container
							.sidebar__info
								form.vacancy-modal__sidebar-vacancy-form
									.manager-select-wrap
							.sidebar__notes.vacancy-modal__sidebar-notes
							.sidebar__actions
								ul.sidebar__action
									li.sidebar__action-item
							.sidebar__menu
								ul.sidebar__filter
									li.sidebar__filter-item.active(data-part="vacancy-data")
										.sidebar__filter-wrapper
											p
												|Данные вакансии
									li.sidebar__filter-item(data-part="check-list")
										.sidebar__filter-wrapper
											p
												|Чек-лист
									li.sidebar__filter-item(data-part="print-pt")
										.sidebar__filter-wrapper
											p
												|Распечатать ПТ
									
									li.sidebar__filter-item(data-part="archive-vacancy").archive-item#vacancy-archive
									li.sidebar__filter-item(data-part="create-vacancy-copy").copy-item#vacancy-copy
									li.sidebar__filter-item.delete-item#vacancy-delete
				.rows
					#vacancy-data.vacancy-data.my-modal-part.active
						include _main-info
						include _clients
						include _demands
						include _terms
						include _media
						include _feedback
					#check-list.check-list.my-modal-part
						p
							|Чек лист
					#print-pt.print-pt.my-modal-part
						p
							|Распечатать ПТ
					#archive-vacancy.archive-vacancy.my-modal-part
						p
							|Архивировать вакансию
					#create-vacancy-copy.create-vacancy-copy.my-modal-part
						p
							|Создать копию вакансии
#modal-4.modal.micromodal-slide(aria-hidden='true')