#modal-2.modal.micromodal-slide(aria-hidden='true')
	.modal__overlay(tabindex='-1')
		.modal__wrapper.my-modal-wrapper
			.modal__container.work-modal.my-modal(role='dialog' aria-modal='true' aria-labelledby='modal-2-title')
				span.modal__close(data-custom-close="modal-1")
					span
					span
				.sidebar
					.sidebar__layout
						.f-container
							.sidebar__info
								form(action="")
									.input-group
										p
											|Менеджер
										select.manager-select(name="manager-select")
											//- option(value="" disabled selected)
											//- 	|Отсутствует
											//- option(value="AK")
											//- 	i.tag.manager-tag.dark-blue-tag
											//- 		|AK
											//- 	|Алексей
											//- option(value="CK")
											//- 	i.tag.manager-tag.light-green-tag
											//- 		|CK
											//- 	|Светлана
									.input-group.add-task-group
										.input-group__control
											p
												|Задачи
											.add-item
												span
													|+ 
												| добавить
										.add-task-item
											i.ico
												+svg2('attention')
											textarea(type="text" class="sidebar__task-input" rows="1" data-elastic="true")
											span.delete-task-item
							.sidebar__notes
								.input-group
									p
										|Заметки
									textarea(rows="5" class="sidebar__area-notes" data-elastic="true")
							.sidebar__actions
								ul.sidebar__action
									li.sidebar__action-item
							.sidebar__menu
								ul.sidebar__filter
									li.sidebar__filter-item.active(data-part="vacancy-data")
										.sidebar__filter-wrapper
											p
												|Данные вакансии
									li.sidebar__filter-item(data-part="check-list")
										.sidebar__filter-wrapper
											p
												|Чек-лист
									li.sidebar__filter-item(data-part="print-pt")
										.sidebar__filter-wrapper
											p
												|Распечатать ПТ
									
									li.sidebar__filter-item(data-part="archive-vacancy")
										.sidebar__filter-wrapper
											p
												|Архивировать вакансию
									
									li.sidebar__filter-item(data-part="create-vacancy-copy")
										.sidebar__filter-wrapper
											p
												|Создать копию вакансии
										
									li.sidebar__filter-item
										.sidebar__filter-wrapper
											p
												|Удалить
											span
												|20.04.2019
				.rows
					#vacancy-data.vacancy-data.my-modal-part.active
						include _main-info
						include _clients
						include _demands
						include _terms
						include ../../work-popup/_feedback
					#check-list.check-list.my-modal-part
						p
							|Чек лист
					#print-pt.print-pt.my-modal-part
						p
							|Распечатать ПТ
					#archive-vacancy.archive-vacancy.my-modal-part
						p
							|Архивировать вакансию
					#create-vacancy-copy.create-vacancy-copy.my-modal-part
						p
							|Создать копию вакансии