extends pug/base



append vars
	- body.classList.push('vacancy-page')


prepend vars





block links
	link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet")


block head-end







block content
	main.main
		.sidebar.vacancy-sidebar
			include pug/layouts/vacancy/sidebar
		.rows-wrapper.vacancy-rows-wrapper
	include pug/layouts/vacancy/_popup

block scripts
	script(src=`js/libs.min.js?v=${Date.now()}` defer)
	link(rel="preload" href=`js/vacancy.min.js?v=${Date.now()}` as="script")
	script(src=`js/vacancy.min.js?v=${Date.now()}` async)


