extends pug/base



append vars


prepend vars





block links
	link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet")


block head-end












block content
	main.main
		
		.sidebar.vacancy-sidebar
			include pug/layouts/vacancy/sidebar
		.rows-wrapper
			.rows.vacancy-rows
				.grid
					//- .side-column
					.columns
						.grid-column.first-column
						.grid-column.second-column
						.grid-column.third-column
						.grid-column.fourth-column
						.grid-column.fifth-column
				include pug/layouts/vacancy/row
				include pug/layouts/vacancy/row
				include pug/layouts/vacancy/row
				include pug/layouts/vacancy/row
				include pug/layouts/vacancy/row
				include pug/layouts/vacancy/row
				include pug/layouts/vacancy/row
				include pug/layouts/vacancy/archive-row
		//- include pug/layouts/vacancy/_popup
	include pug/layouts/vacancy/_popup
			//- include pug/layouts/header
			//- include pug/layouts/footer


