.row.contacts-history.modal-row
	//- button.show-more
	//- 	span
	//- 		|показать еще 5 контактов
	//- .modal-row__controls
	//- 	p
	//- 		|Історія контактів
	//- 	.add-item(data-custom-open="modal-2")
	//- 		span
	//- 			|+ 
	//- 		|додати контакт
	//- .modal-row__layer
	//- 	.modal-row__contacts-history-row(data-custom-open="modal-2")
	//- 		.modal-row__contacts-history-manager.modal-row__cell
	//- 			i.tag.manager-tag.dark-blue-tag
	//- 				|AK
	//- 			i.ico
	//- 				+svg2('arrow')
	//- 		.modal-row__contacts-history-date.modal-row__cell
	//- 			time
	//- 				|20.06.2019
	//- 		.modal-row__contacts-history-text.modal-row__cell
	//- 			i.ico.letter-ico
	//- 				+svg2('letter')
	//- 			p
	//- 				|Прислал полный пакет документов :)
	//- 	.modal-row__contacts-history-row(data-custom-open="modal-2")
	//- 		.modal-row__contacts-history-manager.modal-row__cell
	//- 			i.tag.manager-tag.dark-blue-tag
	//- 				|AK
	//- 			i.ico
	//- 				+svg2('arrow')
	//- 		.modal-row__contacts-history-date.modal-row__cell
	//- 			time
	//- 				|18.06.2019
	//- 		.modal-row__contacts-history-text.modal-row__cell
	//- 			i.ico.phone-ico
	//- 				+svg2('phone')
	//- 			p
	//- 				|Багатырчуки и парень Ани должны приехать 15-16 октября. Аня - вовремя, а вторая группа тоже вовремя. Соседу
	//- 	.modal-row__contacts-history-row(data-custom-open="modal-2")
	//- 		.modal-row__contacts-history-manager.modal-row__cell
	//- 			i.tag.manager-tag.light-green-tag
	//- 				|СК
	//- 			i.ico
	//- 				+svg2('arrow')
	//- 		.modal-row__contacts-history-date.modal-row__cell
	//- 			time
	//- 				|03.03.2019
	//- 		.modal-row__contacts-history-text.modal-row__cell
	//- 			i.ico.message-ico
	//- 				+svg2('message')
	//- 			p
	//- 				|Проверь почту
	//- 	.modal-row__contacts-history-row(data-custom-open="modal-2")
	//- 		.modal-row__contacts-history-manager.modal-row__cell
	//- 			i.tag.manager-tag.light-green-tag
	//- 				|СК
	//- 			i.ico
	//- 				+svg2('arrow')
	//- 		.modal-row__contacts-history-date.modal-row__cell
	//- 			time
	//- 				|29.02.2019
	//- 		.modal-row__contacts-history-text.modal-row__cell
	//- 			i.ico.mail-ico
	//- 				+svg2('mail')
	//- 			p
	//- 				|Hello! Sorry about the delay of answering you. Becaus eof the corona-situation I have been bussy organizing other things for
	//- 	.modal-row__contacts-history-row(data-custom-open="modal-2")
	//- 		.modal-row__contacts-history-manager.modal-row__cell
	//- 			i.tag.manager-tag.light-green-tag
	//- 				|СК
	//- 			i.ico
	//- 				+svg2('arrow')
	//- 		.modal-row__contacts-history-date.modal-row__cell
	//- 			time
	//- 				|16.02.2019
	//- 		.modal-row__contacts-history-text.modal-row__cell
	//- 			i.ico.fax-ico
	//- 				+svg2('fax')
	//- 			p
	//- 				|Hei I spoke with Tania and Viktor and they should contact you. Exept them we will need 12 practicants.Total 14 aplications
	//- 	.modal-row__contacts-history-row(data-custom-open="modal-2").hidden-row
	//- 		.modal-row__contacts-history-manager.modal-row__cell
	//- 			i.tag.manager-tag.light-green-tag
	//- 				|СК
	//- 			i.ico
	//- 				+svg2('arrow')
	//- 		.modal-row__contacts-history-date.modal-row__cell
	//- 			time
	//- 				|16.02.2019
	//- 		.modal-row__contacts-history-text.modal-row__cell
	//- 			i.ico.fax-ico
	//- 				+svg2('fax')
	//- 			p
	//- 				|Hei I spoke with Tania and Viktor and they should contact you. Exept them we will need 12 practicants.Total 14 aplications
	//- 	.modal-row__contacts-history-row(data-custom-open="modal-2").hidden-row
	//- 		.modal-row__contacts-history-manager.modal-row__cell
	//- 			i.tag.manager-tag.light-green-tag
	//- 				|СК
	//- 			i.ico
	//- 				+svg2('arrow')
	//- 		.modal-row__contacts-history-date.modal-row__cell
	//- 			time
	//- 				|16.02.2019
	//- 		.modal-row__contacts-history-text.modal-row__cell
	//- 			i.ico.fax-ico
	//- 				+svg2('fax')
	//- 			p
	//- 				|Hei I spoke with Tania and Viktor and they should contact you. Exept them we will need 12 practicants.Total 14 aplications
	//- 	.modal-row__contacts-history-row(data-custom-open="modal-2").hidden-row
	//- 		.modal-row__contacts-history-manager.modal-row__cell
	//- 			i.tag.manager-tag.light-green-tag
	//- 				|СК
	//- 			i.ico
	//- 				+svg2('arrow')
	//- 		.modal-row__contacts-history-date.modal-row__cell
	//- 			time
	//- 				|16.02.2019
	//- 		.modal-row__contacts-history-text.modal-row__cell
	//- 			i.ico.fax-ico
	//- 				+svg2('fax')
	//- 			p
	//- 				|Hei I spoke with Tania and Viktor and they should contact you. Exept them we will need 12 practicants.Total 14 aplications
	//- 	.modal-row__contacts-history-row(data-custom-open="modal-2").hidden-row
	//- 		.modal-row__contacts-history-manager.modal-row__cell
	//- 			i.tag.manager-tag.light-green-tag
	//- 				|СК
	//- 			i.ico
	//- 				+svg2('arrow')
	//- 		.modal-row__contacts-history-date.modal-row__cell
	//- 			time
	//- 				|16.02.2019
	//- 		.modal-row__contacts-history-text.modal-row__cell
	//- 			i.ico.fax-ico
	//- 				+svg2('fax')
	//- 			p
	//- 				|Hei I spoke with Tania and Viktor and they should contact you. Exept them we will need 12 practicants.Total 14 aplications
	//- 	.modal-row__contacts-history-row(data-custom-open="modal-2").hidden-row
	//- 		.modal-row__contacts-history-manager.modal-row__cell
	//- 			i.tag.manager-tag.light-green-tag
	//- 				|СК
	//- 			i.ico
	//- 				+svg2('arrow')
	//- 		.modal-row__contacts-history-date.modal-row__cell
	//- 			time
	//- 				|16.02.2019
	//- 		.modal-row__contacts-history-text.modal-row__cell
	//- 			i.ico.fax-ico
	//- 				+svg2('fax')
	//- 			p
	//- 				|Hei I spoke with Tania and Viktor and they should contact you. Exept them we will need 12 practicants.Total 14 aplications
	//- 	.modal-row__contacts-history-row(data-custom-open="modal-2").hidden-row
	//- 		.modal-row__contacts-history-manager.modal-row__cell
	//- 			i.tag.manager-tag.light-green-tag
	//- 				|СК
	//- 			i.ico
	//- 				+svg2('arrow')
	//- 		.modal-row__contacts-history-date.modal-row__cell
	//- 			time
	//- 				|16.02.2019
	//- 		.modal-row__contacts-history-text.modal-row__cell
	//- 			i.ico.fax-ico
	//- 				+svg2('fax')
	//- 			p
	//- 				|Hei I spoke with Tania and Viktor and they should contact you. Exept them we will need 12 practicants.Total 14 aplications
	//- 	.modal-row__contacts-history-row(data-custom-open="modal-2").hidden-row
	//- 		.modal-row__contacts-history-manager.modal-row__cell
	//- 			i.tag.manager-tag.light-green-tag
	//- 				|СК
	//- 			i.ico
	//- 				+svg2('arrow')
	//- 		.modal-row__contacts-history-date.modal-row__cell
	//- 			time
	//- 				|16.02.2019
	//- 		.modal-row__contacts-history-text.modal-row__cell
	//- 			i.ico.fax-ico
	//- 				+svg2('fax')
	//- 			p
	//- 				|Hei I spoke with Tania and Viktor and they should contact you. Exept them we will need 12 practicants.Total 14 aplications
	//- 	.modal-row__contacts-history-row(data-custom-open="modal-2").hidden-row
	//- 		.modal-row__contacts-history-manager.modal-row__cell
	//- 			i.tag.manager-tag.light-green-tag
	//- 				|СК
	//- 			i.ico
	//- 				+svg2('arrow')
	//- 		.modal-row__contacts-history-date.modal-row__cell
	//- 			time
	//- 				|16.02.2019
	//- 		.modal-row__contacts-history-text.modal-row__cell
	//- 			i.ico.fax-ico
	//- 				+svg2('fax')
	//- 			p
	//- 				|Hei I spoke with Tania and Viktor and they should contact you. Exept them we will need 12 practicants.Total 14 aplications
	//- 	.modal-row__contacts-history-row(data-custom-open="modal-2").hidden-row
	//- 		.modal-row__contacts-history-manager.modal-row__cell
	//- 			i.tag.manager-tag.light-green-tag
	//- 				|СК
	//- 			i.ico
	//- 				+svg2('arrow')
	//- 		.modal-row__contacts-history-date.modal-row__cell
	//- 			time
	//- 				|16.02.2019
	//- 		.modal-row__contacts-history-text.modal-row__cell
	//- 			i.ico.fax-ico
	//- 				+svg2('fax')
	//- 			p
	//- 				|Hei I spoke with Tania and Viktor and they should contact you. Exept them we will need 12 practicants.Total 14 aplications
	//- 	.modal-row__contacts-history-row(data-custom-open="modal-2").hidden-row
	//- 		.modal-row__contacts-history-manager.modal-row__cell
	//- 			i.tag.manager-tag.light-green-tag
	//- 				|СК
	//- 			i.ico
	//- 				+svg2('arrow')
	//- 		.modal-row__contacts-history-date.modal-row__cell
	//- 			time
	//- 				|16.02.2019
	//- 		.modal-row__contacts-history-text.modal-row__cell
	//- 			i.ico.fax-ico
	//- 				+svg2('fax')
	//- 			p
	//- 				|Hei I spoke with Tania and Viktor and they should contact you. Exept them we will need 12 practicants.Total 14 aplications
	//- 	.modal-row__contacts-history-row(data-custom-open="modal-2").hidden-row
	//- 		.modal-row__contacts-history-manager.modal-row__cell
	//- 			i.tag.manager-tag.light-green-tag
	//- 				|СК
	//- 			i.ico
	//- 				+svg2('arrow')
	//- 		.modal-row__contacts-history-date.modal-row__cell
	//- 			time
	//- 				|16.02.2019
	//- 		.modal-row__contacts-history-text.modal-row__cell
	//- 			i.ico.fax-ico
	//- 				+svg2('fax')
	//- 			p
	//- 				|Hei I spoke with Tania and Viktor and they should contact you. Exept them we will need 12 practicants.Total 14 aplications
	//- 	.modal-row__contacts-history-row(data-custom-open="modal-2").hidden-row
	//- 		.modal-row__contacts-history-manager.modal-row__cell
	//- 			i.tag.manager-tag.light-green-tag
	//- 				|СК
	//- 			i.ico
	//- 				+svg2('arrow')
	//- 		.modal-row__contacts-history-date.modal-row__cell
	//- 			time
	//- 				|16.02.2019
	//- 		.modal-row__contacts-history-text.modal-row__cell
	//- 			i.ico.fax-ico
	//- 				+svg2('fax')
	//- 			p
	//- 				|Hei I spoke with Tania and Viktor and they should contact you. Exept them we will need 12 practicants.Total 14 aplications
	//- 	.modal-row__contacts-history-row(data-custom-open="modal-2").hidden-row
	//- 		.modal-row__contacts-history-manager.modal-row__cell
	//- 			i.tag.manager-tag.light-green-tag
	//- 				|СК
	//- 			i.ico
	//- 				+svg2('arrow')
	//- 		.modal-row__contacts-history-date.modal-row__cell
	//- 			time
	//- 				|16.02.2019
	//- 		.modal-row__contacts-history-text.modal-row__cell
	//- 			i.ico.fax-ico
	//- 				+svg2('fax')
	//- 			p
	//- 				|Hei I spoke with Tania and Viktor and they should contact you. Exept them we will need 12 practicants.Total 14 aplications

