.row.media.modal-row
	.modal-row__controls
		p
			|Медиа
		.add-item
			span
				|+ 
			|добавить
	.modal-row__layer
		.modal-row__media-wrapper
			.modal-row__media
				a.modal-row__media-link(href="#" target="_blank")
					img(src="img/1.png", alt="")
				span.modal-row__media-remove
			.modal-row__media
				a.modal-row__media-link(href="#" target="_blank")
					img(src="img/2.png", alt="")
				span.modal-row__media-remove
			.modal-row__media
				a.modal-row__media-link(href="#" target="_blank")
					img(src="img/3.png", alt="")
				span.modal-row__media-remove
			.modal-row__media
				a.modal-row__media-link(href="#" target="_blank")
					img(src="img/4.png", alt="")
				span.modal-row__media-remove
			.modal-row__media
				a.modal-row__media-link(href="#" target="_blank")
					img(src="img/5.png", alt="")
				span.modal-row__media-remove
			.modal-row__media
				a.modal-row__media-link(href="#" target="_blank")
					img(src="img/6.png", alt="")
				span.modal-row__media-remove
			.modal-row__media
				a.modal-row__media-link(href="#" target="_blank")
					img(src="img/1.png", alt="")
				span.modal-row__media-remove
			.modal-row__media
				a.modal-row__media-link(href="#" target="_blank")
					img(src="img/1.jpg", alt="")
				span.modal-row__media-remove
			.modal-row__media
				a.modal-row__media-link(href="#" target="_blank")
					img(src="img/3.png", alt="")
				span.modal-row__media-remove
			.modal-row__media
				a.modal-row__media-link(href="#" target="_blank")
					img(src="img/4.png", alt="")
				span.modal-row__media-remove
			.modal-row__media
				a.modal-row__media-link(href="#" target="_blank")
					img(src="img/5.png", alt="")
				span.modal-row__media-remove