.row.vacancies-history.modal-row
	.modal-row__controls
		p
			|История вакансий
	.modal-row__layer
		.modal-row__vacancies-history-row
			.modal-row__vacancies-history-labels
			.modal-row__vacancies-history-date
				time
					|16.02.2019
			.modal-row__vacancies-history-terms
				time
					|16.02.2019
			.modal-row__vacancies-history-type
		.modal-row__vacancies-history-row
			.modal-row__vacancies-history-labels
			.modal-row__vacancies-history-date
				time
					|16.02.2019
			.modal-row__vacancies-history-terms
				time
					|16.02.2019
			.modal-row__vacancies-history-type
		.modal-row__vacancies-history-row
			.modal-row__vacancies-history-labels
			.modal-row__vacancies-history-date
				time
					|16.02.2019
			.modal-row__vacancies-history-terms
				time
					|16.02.2019
			.modal-row__vacancies-history-type