#modal-1.modal.micromodal-slide(aria-hidden='true')
	.modal__overlay(tabindex='-1' data-custom-close="modal-1")
		.modal__wrapper.my-modal-wrapper(data-custom-close="modal-1")
			.modal__container.work-modal.my-modal(role='dialog' aria-modal='true' aria-labelledby='modal-1-title')
				.sidebar
					.sidebar__layout
						.f-container
							.sidebar__info
								form(action="")
									.input-group
										p
											|Менеджер
										select.manager-select(name="manager-select")
											//- option(value="" disabled selected)
											//- 	|Отсутствует
											//- option(value="AK")
											//- 	i.tag.manager-tag.dark-blue-tag
											//- 		|AK
											//- 	|Алексей
											//- option(value="CK")
											//- 	i.tag.manager-tag.light-green-tag
											//- 		|CK
											//- 	|Светлана
									.input-group
										.input-group__control
											p
												|Задачи
											.add-item
												span
													|+ 
												| добавить
										textarea(type="text" class="sidebar__task-input" rows="1" data-elastic="true")
							.sidebar__notes
								.input-group
									textarea(rows="4" class="sidebar__area-notes" data-elastic="true")
							.sidebar__actions
								ul.sidebar__action
									li.sidebar__action-item
										.input-group
											input(type="checkbox" id="remove-sending-chbx")
											label(for="remove-sending-chbx")
												|Исключить из рассылки
							.sidebar__menu
								ul.sidebar__filter
									li.sidebar__filter-item
										.sidebar__filter-wrapper
											p
												|История анонсов
											span.sidebar__filter-remove
									li.sidebar__filter-item
										.sidebar__filter-wrapper
											p
												|Данные для документов
											span.sidebar__filter-remove
									li.sidebar__filter-item
										.sidebar__filter-wrapper
											p
												|Создать вакансию
											span.sidebar__filter-remove
									li.sidebar__filter-item
										.sidebar__filter-wrapper
											p
												|Удалить
											span.sidebar__filter-remove
				.rows
					.row.common-info.modal-row
						.common-info__left
							.common-info__company.info-block
								p
									|Предприятие
								.input-group
									textarea.info-area.common-info__manufactury-area(name="" rows="3")
										|BoGrønt Solblomsten Gartneri og Hagesenter / Solblomsten A
							.common-info__country.info-block
								p
									|Страна
								.input-group
									select.info-area.country-select(name="")
							.common-info__address.info-block
								p
									|Адрес
								.input-group
									textarea.info-area(type="text" rows="2")
										|Otterveien 1, 9300 Finnsnes, 9300 Finnsnes
									.map
						.common-info__right
							.common-info__contact-person.common-info__group
								.common-info__contact-person_curr.common-info__group_small.info-block
									p
										|Контактное лицо
									.input-group
										input.info-area.common-info__contact-person-area(type="text" value="Gunnlaug Eide")
								.common-info__contact-person_other.common-info__group_big.info-block
									p
										|Другие контактые лица
									.input-group
										input.info-area(type="text" value="BoGrønt Solblomsten, BoGrønt Solblomsten")
							.common-info__contact-info.common-info__group
								.common-info__contact-info_curr.common-info__group_small.info-block
									p
										|Контактная информация
									.input-group.info-group-ico
										i.ico
											+svg2('phone')
										input.info-area(type="text" value="+47 77847243")
									.input-group.info-group-ico
										i.ico
											+svg2('mail')
										input.info-area(type="text" value="solblomsten@bogront.no")
								.common-info__contact-info_other.common-info__group_big.info-block
									p
										|Дополнительные контакты
									.input-group
										input.info-area(type="text" value="+47 77843366, +47 77843366, +47 77843366 ")
									.input-group
										input.info-area(type="text" value="post@solblomsten.no, post@solblomsten.no")
							.common-info__social.info-block
								p
									|Сайт и социальные сети
								.input-group.info-group-ico 
									i.ico
										+svg2('web')
									input.info-area(type="text" value="www.bogront.no/solblomsten/indt.no/solblomsten/ind")
								.input-group.info-group-ico 
									i.ico
										+svg2('facebook')
									input.info-area(type="text" value="www.bogront.no/solblomsten/")
								.input-group.info-group-ico 
									i.ico
										+svg2('instagram')
									input.info-area(type="text" value="www.bogront.no/solblo")
							.common-info__more-info.common-info__group
								.common-info__more-info_inner-left
									.common-info__more-info-about.info-block
										p
											|Дополнительная информация
										.input-group
											textarea.info-area(type="text" rows="6")
												|BoGrønt Solblomsten Gartneri og Hagesenter / Solblomsten AS
								.common-info__more-info_inner-right
									.common-info__more-info-mediator.info-block
										p
											|Посредник
										.input-group.native-select
											select.info-area.mediator-select(name="")
									.common-info__more-info-source.info-block
										p
											|Источник
										.input-group.native-select
											select.info-area.source-select(name="")
					include _manufactury-type
					include _contacts-history
					include _vacancies-history
					include _media
					include _feedback
#modal-2.modal.micromodal-slide(aria-hidden='true')
	.modal__overlay(tabindex='-1' data-custom-close="modal-2")
		.modal__container.contact-history-modal(role='dialog' aria-modal='true' aria-labelledby='modal-1-title')
			.contact-history-modal__header
				.contact-history-modal__block
					p
						|Менеджер
					.input-group
						select(name="")
				.contact-history-modal__block
					p
						|Направление
					.input-group
						.button
							+svg2('arrow')
				.contact-history-modal__block
					p
						|Дата
					.input-group
						input(type="date")
				.contact-history-modal__block
					p
						|Тип контакта
					.input-group
						select(name="")
			.contact-history-modal__body
				.contact-history-modal__block
					p
						|Содержание
					.input-group
						textarea.info-area(type="text" rows="12")