#modal-1.modal.micromodal-slide()
	.modal__overlay()
		.modal__wrapper.my-modal-wrapper
			.modal__container.work-modal.my-modal()
				span.modal__close
					span
					span
				.sidebar
					.sidebar__layout
						.f-container
							.sidebar__info
								form.work-modal__sidebar-employer-form
									.manager-select-wrap
							.sidebar__notes.work-modal__sidebar-notes
							.sidebar__actions
								ul.sidebar__action
									li.sidebar__action-item.sidebar-mailing-item
										//- .input-group
										//- 	input(type="checkbox" id="remove-sending-chbx")
										//- 	label(for="remove-sending-chbx")
										//- 		|Исключить из рассылки
							.sidebar__menu
								ul.sidebar__filter
									li.sidebar__filter-item.active(data-part="employer-data")
										.sidebar__filter-wrapper
											p
												|Данные работодателя
									li.sidebar__filter-item(data-part="announcement-history")
										.sidebar__filter-wrapper
											p
												|История анонсов
									
									li.sidebar__filter-item(data-part="data-for-documents")
										.sidebar__filter-wrapper
											p
												|Данные для документов
									
									li.sidebar__filter-item#vacancy-create
									li.sidebar__filter-item.delete-item#employer-delete
				.rows
					#employer-data.employer-data.my-modal-part.active
						.row.common-info.modal-row
						include _manufactury-type
						include _contacts-history
						include _vacancies-history
						include _media
						include _feedback
					#announcement-history.announcement-history.my-modal-part
						p
							|История анонсов
					#data-for-documents.data-for-documents.my-modal-part
						p
							|Данные для документов
					//- #create-vacancy.create-vacancy.my-modal-part
					//- 	p
					//- 		|Создать вакансию





#modal-2.modal.micromodal-slide(aria-hidden='true')