.popup
	.popup__layer
		#country-popup-vacancy.sidebar-popup
			form.flex-form
		#managers-popup.sidebar-popup.managers-popup-vacancy
			form
		#status-popup.sidebar-popup
		#selecting-popup.sidebar-popup
		#type-work-popup.sidebar-popup
			form
		#date-terms-popup.sidebar-popup
		include vacancy-popup/_vacancy-popup
