.popup
	.popup__layer
		#country-popup.sidebar-popup
			form
				.input-group
					input(type="checkbox" id="AT-chbx")
					label(for="AT-chbx")
						|Австрия
				.input-group
					input(type="checkbox" id='DE-chbx')
					label(for="DE-chbx")
						|Германия
				.input-group
					input(type="checkbox" id='DK-chbx')
					label(for="DK-chbx")
						|Дания
				.input-group
					input(type="checkbox" id='NO-chbx')
					label(for="NO-chbx")
						|Норвегия
				.input-group
					input(type="checkbox" id='FI-chbx')
					label(for="FI-chbx")
						|Финляндия
				.input-group
					input(type="checkbox" id='SE-chbx')
					label(for="SE-chbx")
						|Швеция
		#managers-popup.sidebar-popup
			form
				.input-group
					input(type="checkbox" id="AK-chbx")
					label(for="AK-chbx")
						i.tag.manager-tag.dark-blue-tag
							|AK
						|Алексей Ключников
				.input-group
					input(type="checkbox" id='CK-chbx')
					label(for="CK-chbx")
						i.tag.manager-tag.light-green-tag
							|CK
						|Светлана Ковальчук