.popup
	.popup__layer
		#country-popup.sidebar-popup
			form
				.input-group
					input(type="checkbox" id="AT-chbx")
					label(for="AT-chbx")
						|Австрия
				.input-group
					input(type="checkbox" id='DE-chbx')
					label(for="DE-chbx")
						|Германия
				.input-group
					input(type="checkbox" id='DK-chbx')
					label(for="DK-chbx")
						|Дания
				.input-group
					input(type="checkbox" id='NO-chbx')
					label(for="NO-chbx")
						|Норвегия
				.input-group
					input(type="checkbox" id='FI-chbx')
					label(for="FI-chbx")
						|Финляндия
				.input-group
					input(type="checkbox" id='SE-chbx')
					label(for="SE-chbx")
						|Швеция
		#managers-popup.sidebar-popup
			form
				.input-group
					input(type="checkbox" id="AK-chbx")
					label(for="AK-chbx")
						i.tag.manager-tag.dark-blue-tag
							|AK
						|Алексей Ключников
				.input-group
					input(type="checkbox" id='CK-chbx')
					label(for="CK-chbx")
						i.tag.manager-tag.light-green-tag
							|CK
						|Светлана Ковальчук
		#status-popup.sidebar-popup
			form
				.input-group
					input(type="checkbox" id="shortfall-chbx")
					label(for="shortfall-chbx")
						|Недоборы
				.input-group
					input(type="checkbox" id='selected-chbx')
					label(for="selected-chbx")
						|Отобраны
				.input-group
					input(type="checkbox" id='supply-chbx')
					label(for="supply-chbx")
						|Готовятся к подаче
				.input-group
					input(type="checkbox" id='wait-chbx')
					label(for="wait-chbx")
						|Ждут разрешения
				.input-group
					input(type="checkbox" id='department-chbx')
					label(for="department-chbx")
						|Готовятся к отъезду
				.input-group
					input(type="checkbox" id='busy-chbx')
					label(for="busy-chbx")
						|Трудоустроены
		#selecting-popup.sidebar-popup
			form
				.input-group
					input(type="checkbox" id="date-start-chbx")
					label(for="date-start-chbx")
						|По дате начала работы
				.input-group
					input(type="checkbox" id='countries-chbx')
					label(for="countries-chbx")
						|По странам
				.input-group
					input(type="checkbox" id='managers-chbx')
					label(for="managers-chbx")
						|По менеджерам
		#type-work-popup.sidebar-popup
			form
				.form-group
					fieldset
						p
							|Тип работы
						.input-group.radio-group-type-2.hot
							.group
								input(type="checkbox" id="season-chbx" name="vacancies-chbx" checked="true")
								label(for="season-chbx")
									|Сезонная
								input(type="checkbox" id="practice-chbx" name="vacancies-chbx")
								label(for="practice-chbx")
									|Практика
								input(type="checkbox" id="work-chbx" name="vacancies-chbx")
								label(for="work-chbx")
									|Рабочая
				.form-group
					fieldset
						p
							|Тип производства
						.input-group
							input(type="checkbox" id="flowers-chbx")
							label(for="flowers-chbx")
								|цветы
						.input-group
							input(type="checkbox" id="vegetables-chbx")
							label(for="vegetables-chbx")
								|овощи
						.input-group
							input(type="checkbox" id="cows-chbx")
							label(for="cows-chbx")
								|коровы
						.input-group
							input(type="checkbox" id="pigs-chbx")
							label(for="pigs-chbx")
								|свиньи
						.input-group
							input(type="checkbox" id="fields-chbx")
							label(for="fields-chbx")
								|поля
					fieldset
						.input-group
							input(type="checkbox" id="berries-chbx")
							label(for="berries-chbx")
								|ягоды
						.input-group
							input(type="checkbox" id="greenhouses-chbx")
							label(for="greenhouses-chbx")
								|теплицы
						.input-group
							input(type="checkbox" id="wood-chbx")
							label(for="wood-chbx")
								|лес
						.input-group
							input(type="checkbox" id="landscape-chbx")
							label(for="landscape-chbx")
								|ландшафт
						.input-group
							input(type="checkbox" id="horses-chbx")
							label(for="horses-chbx")
								|лошади
		#date-terms-popup.sidebar-popup
			form
				fieldset
					p
						|Дата начала работы
					.input-group
						input(type="text" id="before-date-chbx")
						label(for="before-date-chbx")
							|до
					.input-group
						input(type="text" id="after-date-chbx")
						label(for="after-date-chbx")
							|после
				fieldset
					p
						|Срок работы
					.group
						.input-group
							input(type="text" id="from-date-chbx")
							label(for="from-date-chbx")
								|от
						.input-group
							input(type="text" id="to-date-chbx")
							label(for="to-date-chbx")
								|до
						.input-group
							p
								|мес
		//- #status-change-popup.row-popup
		//- 	form
		//- 		.input-group
		//- 			input(type="checkbox" id="shortfall-chbx")
		//- 			label(for="shortfall-chbx")
		//- 				|Недоборы
		//- 		.input-group
		//- 			input(type="checkbox" id='selected-chbx')
		//- 			label(for="selected-chbx")
		//- 				|Отобраны
		//- 		.input-group
		//- 			input(type="checkbox" id='supply-chbx')
		//- 			label(for="supply-chbx")
		//- 				|Готовятся к подаче
		//- 		.input-group
		//- 			input(type="checkbox" id='wait-chbx')
		//- 			label(for="wait-chbx")
		//- 				|Ждут разрешения
		//- 		.input-group
		//- 			input(type="checkbox" id='department-chbx')
		//- 			label(for="department-chbx")
		//- 				|Готовятся к отъезду
		//- 		.input-group
		//- 			input(type="checkbox" id='busy-chbx')
		//- 			label(for="busy-chbx")
		//- 				|Трудоустроены