.row.no-open.archive-row
	.f-container
		.row__terms.row__cell.hot
		.row__labels-2.row__cell.no-open
			.row__labels-2-layer.no-open
				i.label.attention__label.no-open(data-custom-open="modal-2")
					span.no-open
						|NO
					span.no-open
						|118 - 22
				span.number-of-people.attention-number.no-open(data-custom-open="modal-2")
						|М12 Ж5
		.row__archive.row__cell
			p
				|Архив - 28.10.2019
		.row__name-2.row__cell
			p.row__fullname.no-open
				a.no-open(href="#")
					|Thompson Equestrian Partners / Junction Engineering
			i.tag.manager-tag.dark-blue-tag
				|AK
		.row__vacancies.row__cell
			i.label.green__label
				|Практика
			p
				|Поля
		.row__notes.row__cell
			p
				|14.11.2019 - 15.04.2020 (6 мес)
	.row__full-info.table-full
		.table-full__choosen.choosen
			.table-full__row
				p.table-full__title
					|Отобраны
			.table-full__row.f-container(data-count="2")
					.table-full__cell.row__cell.cell-names
						a(href="#")
							|Гурківський Олександр
						span.row__indicator.department.indicator 
							span
								|2
					.table-full__cell.row__cell.cell-status
						.cell-status__left
							.cell-status__slider
								p.status.choosen
									|Подготовка CV
								p.status.choosen.active
									|CV отправлено
								p.status.ready
									|Утвержден
								p.status.ready
									|Контракт подписан
								p.status.wait
									|Подан в визовый центр
								p.status.department
									|Получил разрешение
								p.status.department
									|Забрал разрешение
								p.status.department
									|Билеты куплены
								p.status.busy
									|Трудоустроен
							.cell-status__controls
								.cell-status__control-left
									i.ico.rotate-left
										+svg2('little-arrow')
								.cell-status__control-right
									i.ico
										+svg2('little-arrow')
						.cell-status__right
							i.ico
								+svg2('phone2')
							i.ico
								+svg2('docs')
							i.ico
								+svg2('page')
							.tag.manager-tag.purple-tag
								|AC
					.table-full__cell.row__cell.cell-exp
						i.label.hot__label
							|Сезонная
						p
							|Цветы
					.table-full__cell.row__cell.cell-notes
						input(type="text")
			.table-full__row.f-container(data-count="2")
				.table-full__cell.row__cell.cell-names
					a(href="#")
						|Лемешко Аліна
				.table-full__cell.row__cell.cell-status
					.cell-status__left
						.cell-status__slider
							p.status.choosen
								|Подготовка CV
							p.status.choosen.active
								|CV отправлено
							p.status.ready
								|Утвержден
							p.status.ready
								|Контракт подписан
							p.status.wait
								|Подан в визовый центр
							p.status.department
								|Получил разрешение
							p.status.department
								|Забрал разрешение
							p.status.department
								|Билеты куплены
							p.status.busy
								|Трудоустроен
						.cell-status__controls
							.cell-status__control-left
								i.ico.rotate-left
									+svg2('little-arrow')
							.cell-status__control-right
								i.ico
									+svg2('little-arrow')
					.cell-status__right
						.tag.manager-tag.purple-tag
							|AC
				.table-full__cell.row__cell.cell-exp
					i.label.green__label
						|Практика
					p
						|Поля
				.table-full__cell.row__cell.cell-notes
					input(type="text")
			.table-full__row.f-container(data-count="2")
				.table-full__cell.row__cell.cell-names
					a(href="#")
						|Романов Валентин
				.table-full__cell.row__cell.cell-status
					.cell-status__left
						.cell-status__slider
							p.status.choosen
								|Подготовка CV
							p.status.choosen.active
								|CV отправлено
							p.status.ready
								|Утвержден
							p.status.ready
								|Контракт подписан
							p.status.wait
								|Подан в визовый центр
							p.status.department
								|Получил разрешение
							p.status.department
								|Забрал разрешение
							p.status.department
								|Билеты куплены
							p.status.busy
								|Трудоустроен
						.cell-status__controls
							.cell-status__control-left
								i.ico.rotate-left
									+svg2('little-arrow')
							.cell-status__control-right
								i.ico
									+svg2('little-arrow')
					.cell-status__right
						i.ico
							+svg2('phone2')
						i.ico
							+svg2('page')
						.tag.manager-tag.purple-tag
							|AC
				.table-full__cell.row__cell.cell-exp
				.table-full__cell.row__cell.cell-notes
					input(type="text")
			.table-full__row.f-container(data-count="2")
				.table-full__cell.row__cell.cell-names
					a(href="#")
						|Тарасюк Віталій
				.table-full__cell.row__cell.cell-status
					.cell-status__left
						.cell-status__slider
							p.status.choosen
								|Подготовка CV
							p.status.choosen.active
								|CV отправлено
							p.status.ready
								|Утвержден
							p.status.ready
								|Контракт подписан
							p.status.wait
								|Подан в визовый центр
							p.status.department
								|Получил разрешение
							p.status.department
								|Забрал разрешение
							p.status.department
								|Билеты куплены
							p.status.busy
								|Трудоустроен
						.cell-status__controls
							.cell-status__control-left
								i.ico.rotate-left
									+svg2('little-arrow')
							.cell-status__control-right
								i.ico
									+svg2('little-arrow')
					.cell-status__right
						i.ico
							+svg2('page')
						.tag.manager-tag.purple-tag
							|AC
				.table-full__cell.row__cell.cell-exp
					i.label.blue__label
						|Рабочая
					p
						|Коровы
				.table-full__cell.row__cell.cell-notes
					input(type="text")
			.table-full__row.f-container(data-count="2")
				.table-full__cell.row__cell.cell-names
					a(href="#")
						|Бичківська Алла
				.table-full__cell.row__cell.cell-status
					.cell-status__left
						.cell-status__slider
							p.status.choosen
								|Подготовка CV
							p.status.choosen.active
								|CV отправлено
							p.status.ready
								|Утвержден
							p.status.ready
								|Контракт подписан
							p.status.wait
								|Подан в визовый центр
							p.status.department
								|Получил разрешение
							p.status.department
								|Забрал разрешение
							p.status.department
								|Билеты куплены
							p.status.busy
								|Трудоустроен
						.cell-status__controls
							.cell-status__control-left
								i.ico.rotate-left
									+svg2('little-arrow')
							.cell-status__control-right
								i.ico
									+svg2('little-arrow')
					.cell-status__right
						.tag.manager-tag.purple-tag
							|AC
				.table-full__cell.row__cell.cell-exp
					i.label.green__label
						|Д 2
					p
						|Агроном
					i.label.dirty-green__label
						|ВСТ
				.table-full__cell.row__cell.cell-notes
					input(type="text")
		.table-full__ready.ready
			.table-full__row
				p.table-full__title
					|Готовятся к подаче
			.table-full__row.f-container(data-count="1")
					.table-full__cell.row__cell.cell-names
						a(href="#")
							|Червінський Йосип
					.table-full__cell.row__cell.cell-status
						.cell-status__left
							.cell-status__slider
								p.status.choosen
									|Подготовка CV
								p.status.choosen
									|CV отправлено
								p.status.ready.active
									|Утвержден
								p.status.ready
									|Контракт подписан
								p.status.wait
									|Подан в визовый центр
								p.status.department
									|Получил разрешение
								p.status.department
									|Забрал разрешение
								p.status.department
									|Билеты куплены
								p.status.busy
									|Трудоустроен
							.cell-status__controls
								.cell-status__control-left
									i.ico.rotate-left
										+svg2('little-arrow')
								.cell-status__control-right
									i.ico
										+svg2('little-arrow')
						.cell-status__right
					.table-full__cell.row__cell.cell-exp
					.table-full__cell.row__cell.cell-notes
						input(type="text" value="Записан в посольство на 10.05")
			.table-full__row.f-container(data-count="1")
				.table-full__cell.row__cell.cell-names
					a(href="#")
						|Шащук Іван
				.table-full__cell.row__cell.cell-status
						.cell-status__left
							.cell-status__slider
								p.status.choosen
									|Подготовка CV
								p.status.choosen
									|CV отправлено
								p.status.ready.active
									|Утвержден
								p.status.ready
									|Контракт подписан
								p.status.wait
									|Подан в визовый центр
								p.status.department
									|Получил разрешение
								p.status.department
									|Забрал разрешение
								p.status.department
									|Билеты куплены
								p.status.busy
									|Трудоустроен
							.cell-status__controls
								.cell-status__control-left
									i.ico.rotate-left
										+svg2('little-arrow')
								.cell-status__control-right
									i.ico
										+svg2('little-arrow')
						.cell-status__right
				.table-full__cell.row__cell.cell-exp
					i.label.green__label
						|Практика
					p
						|Поля
				.table-full__cell.row__cell.cell-notes
					input(type="text")
		.table-full__wait.wait
			.table-full__row
				p.table-full__title
					|Ждут разрешения
			.table-full__row.f-container(data-count="1")
				.table-full__cell.row__cell.cell-names
					a(href="#")
						|Іванчик Олександр
				.table-full__cell.row__cell.cell-status
					.cell-status__left
						.cell-status__slider
							p.status.choosen
								|Подготовка CV
							p.status.choosen
								|CV отправлено
							p.status.ready
								|Утвержден
							p.status.ready
								|Контракт подписан
							p.status.wait.active
								|Подан в визовый центр
							p.status.department
								|Получил разрешение
							p.status.department
								|Забрал разрешение
							p.status.department
								|Билеты куплены
							p.status.busy
								|Трудоустроен
						.cell-status__controls
							.cell-status__control-left
								i.ico.rotate-left
									+svg2('little-arrow')
							.cell-status__control-right
								i.ico
									+svg2('little-arrow')
					.cell-status__right
				.table-full__cell.row__cell.cell-exp
				.table-full__cell.row__cell.cell-notes
					input(type="text")
			.table-full__row.f-container(data-count="1")
				.table-full__cell.row__cell.cell-names
					a(href="#")
						|Волтарніст Юлія
				.table-full__cell.row__cell.cell-status
					.cell-status__left
						.cell-status__slider
							p.status.choosen
								|Подготовка CV
							p.status.choosen
								|CV отправлено
							p.status.ready
								|Утвержден
							p.status.ready
								|Контракт подписан
							p.status.wait.active
								|Подан в визовый центр
							p.status.department
								|Получил разрешение
							p.status.department
								|Забрал разрешение
							p.status.department
								|Билеты куплены
							p.status.busy
								|Трудоустроен
						.cell-status__controls
							.cell-status__control-left
								i.ico.rotate-left
									+svg2('little-arrow')
							.cell-status__control-right
								i.ico
									+svg2('little-arrow')
					.cell-status__right
				.table-full__cell.row__cell.cell-exp
				.table-full__cell.row__cell.cell-notes
					input(type="text")
			.table-full__row.f-container(data-count="1")
				.table-full__cell.row__cell.cell-names
					a(href="#")
						|Ситнік Оксана
				.table-full__cell.row__cell.cell-status
					.cell-status__left
						.cell-status__slider
							p.status.choosen
								|Подготовка CV
							p.status.choosen
								|CV отправлено
							p.status.ready
								|Утвержден
							p.status.ready
								|Контракт подписан
							p.status.wait.active
								|Подан в визовый центр
							p.status.department
								|Получил разрешение
							p.status.department
								|Забрал разрешение
							p.status.department
								|Билеты куплены
							p.status.busy
								|Трудоустроен
						.cell-status__controls
							.cell-status__control-left
								i.ico.rotate-left
									+svg2('little-arrow')
							.cell-status__control-right
								i.ico
									+svg2('little-arrow')
					.cell-status__right
				.table-full__cell.row__cell.cell-exp
				.table-full__cell.row__cell.cell-notes
					input(type="text")
		.table-full__department.department
			.table-full__row
				p.table-full__title
					|Готовятся к отъезду
			.table-full__row.f-container(data-count="2")
				.table-full__cell.row__cell.cell-names
					a(href="#")
						|Коргун Максим
				.table-full__cell.row__cell.cell-status
					.cell-status__left
						.cell-status__slider
							p.status.choosen
								|Подготовка CV
							p.status.choosen
								|CV отправлено
							p.status.ready
								|Утвержден
							p.status.ready
								|Контракт подписан
							p.status.wait
								|Подан в визовый центр
							p.status.department
								|Получил разрешение
							p.status.department.active
								|Забрал разрешение
							p.status.department
								|Билеты куплены
							p.status.busy
								|Трудоустроен
						.cell-status__controls
							.cell-status__control-left
								i.ico.rotate-left
									+svg2('little-arrow')
							.cell-status__control-right
								i.ico
									+svg2('little-arrow')
					.cell-status__right
				.table-full__cell.row__cell.cell-exp
				.table-full__cell.row__cell.cell-notes
					input(type="text")
		.table-full__busy.busy
			.table-full__row
				p.table-full__title
					|Трудоустроены
			.table-full__row.f-container(data-count="1")
				.table-full__cell.row__cell.cell-names
					a(href="#")
						|Конончук Віталій
				.table-full__cell.row__cell.cell-status
					.cell-status__left
						.cell-status__slider
							p.status.choosen
								|Подготовка CV
							p.status.choosen
								|CV отправлено
							p.status.ready
								|Утвержден
							p.status.ready
								|Контракт подписан
							p.status.wait
								|Подан в визовый центр
							p.status.department
								|Получил разрешение
							p.status.department
								|Забрал разрешение
							p.status.department
								|Билеты куплены
							p.status.busy.active
								|Трудоустроен
						.cell-status__controls
							.cell-status__control-left
								i.ico.rotate-left
									+svg2('little-arrow')
							.cell-status__control-right
								i.ico
									+svg2('little-arrow')
					.cell-status__right
				.table-full__cell.row__cell.cell-exp
				.table-full__cell.row__cell.cell-notes
					input(type="text")