.row(data-custom-open="modal-1").no-open
	.f-container
		.row__terms.row__cell.hot
		.row__labels-2.row__cell.no-open
			i.label.attention__label.no-open
				span.no-open
					|NO
				span.no-open
					|118 - 22
			span.number-of-people.attention-number.no-open
					|М12 Ж5
		.row__indicators.row__cell
			span.row__indicator.empty
			span.row__indicator.empty
			span.row__indicator.empty
			span.row__indicator.empty
			span.row__indicator.empty
			span.row__indicator.empty
		.row__name-2.row__cell.no-open
			p.row__fullname.no-open
				|Thompson Equestrian Partners / Junction Engineering
			i.tag.manager-tag.dark-blue-tag.no-open
				|AK
		.row__vacancies.row__cell
		.row__notes.row__cell
			p
				|14.11.2019 - 15.04.2020 (6 мес)
	.row__full-info.table-full
		.table-full__choosen.choosen
			.table-full__row
				.table-full__row-layer
					p.table-full__title
						|Отобраны
				.table-full__row-layer.f-container
					.table-full__cell.row__cell.cell-names
						p
							|Гурківський Олександр
					.table-full__cell.row__cell.cell-status
						.cell-status__left
							.cell-status__slider
								p.status.choosen
									|Подготовка CV
								p.status.choosen
									|CV отправлено
								p.status.ready
									|Утвержден
								p.status.ready
									|Контракт подписан
								p.status.wait.active
									|Подан в визовый центр
								p.status.department
									|Получил разрешение
								p.status.department
									|Забрал разрешение
								p.status.department
									|Билеты куплены
								p.status.busy
									|Трудоустроен
							.cell-status__controls
								.cell-status__control-left
									i.ico.rotate-left
										+svg2('little-arrow')
								.cell-status__control-right
									i.ico
										+svg2('little-arrow')
						.cell-status__right
							i.ico
								+svg2('phone2')
							i.ico
								+svg2('docs')
							i.ico
								+svg2('page')
							.tag.manager-tag.purple-tag
								|AC
					.table-full__cell.row__cell.cell-exp
						i.label.hot__label
							|Сезонная
						p
							|Цветы
					.table-full__cell.row__cell.cell-notes
			.table-full__row.f-container
				.table-full__cell.row__cell.cell-names
					p
						|Лемешко Аліна
				.table-full__cell.row__cell.cell-status
					.cell-status__left
						.cell-status__slider
							p.status.choosen
								|Подготовка CV
							p.status.choosen
								|CV отправлено
							p.status.ready
								|Утвержден
							p.status.ready
								|Контракт подписан
							p.status.wait.active
								|Подан в визовый центр
							p.status.department
								|Получил разрешение
							p.status.department
								|Забрал разрешение
							p.status.department
								|Билеты куплены
							p.status.busy
								|Трудоустроен
						.cell-status__controls
							.cell-status__control-left
								i.ico.rotate-left
									+svg2('little-arrow')
							.cell-status__control-right
								i.ico
									+svg2('little-arrow')
					.cell-status__right
						.tag.manager-tag.purple-tag
							|AC
				.table-full__cell.row__cell.cell-exp
					i.label.green__label
						|Практика
					p
						|Поля
				.table-full__cell.row__cell.cell-notes
			.table-full__row.f-container
				.table-full__cell.row__cell.cell-names
					p
						|Романов Валентин
				.table-full__cell.row__cell.cell-status
					.cell-status__left
						.cell-status__slider
							p.status.choosen
								|Подготовка CV
							p.status.choosen
								|CV отправлено
							p.status.ready
								|Утвержден
							p.status.ready
								|Контракт подписан
							p.status.wait.active
								|Подан в визовый центр
							p.status.department
								|Получил разрешение
							p.status.department
								|Забрал разрешение
							p.status.department
								|Билеты куплены
							p.status.busy
								|Трудоустроен
						.cell-status__controls
							.cell-status__control-left
								i.ico.rotate-left
									+svg2('little-arrow')
							.cell-status__control-right
								i.ico
									+svg2('little-arrow')
					.cell-status__right
						i.ico
							+svg2('phone2')
						i.ico
							+svg2('page')
						.tag.manager-tag.purple-tag
							|AC
				.table-full__cell.row__cell.cell-exp
				.table-full__cell.row__cell.cell-notes
			.table-full__row.f-container
				.table-full__cell.row__cell.cell-names
					p
						|Тарасюк Віталій
				.table-full__cell.row__cell.cell-status
					.cell-status__left
						.cell-status__slider
							p.status.choosen
								|Подготовка CV
							p.status.choosen
								|CV отправлено
							p.status.ready
								|Утвержден
							p.status.ready
								|Контракт подписан
							p.status.wait.active
								|Подан в визовый центр
							p.status.department
								|Получил разрешение
							p.status.department
								|Забрал разрешение
							p.status.department
								|Билеты куплены
							p.status.busy
								|Трудоустроен
						.cell-status__controls
							.cell-status__control-left
								i.ico.rotate-left
									+svg2('little-arrow')
							.cell-status__control-right
								i.ico
									+svg2('little-arrow')
					.cell-status__right
						i.ico
							+svg2('page')
						.tag.manager-tag.purple-tag
							|AC
				.table-full__cell.row__cell.cell-exp
					i.label.blue__label
						|Рабочая
					p
						|Коровы
				.table-full__cell.row__cell.cell-notes
			.table-full__row.f-container
				.table-full__cell.row__cell.cell-names
					p
						|Бичківська Алла
				.table-full__cell.row__cell.cell-status
					.cell-status__left
						.cell-status__slider
							p.status.choosen
								|Подготовка CV
							p.status.choosen
								|CV отправлено
							p.status.ready
								|Утвержден
							p.status.ready
								|Контракт подписан
							p.status.wait.active
								|Подан в визовый центр
							p.status.department
								|Получил разрешение
							p.status.department
								|Забрал разрешение
							p.status.department
								|Билеты куплены
							p.status.busy
								|Трудоустроен
						.cell-status__controls
							.cell-status__control-left
								i.ico.rotate-left
									+svg2('little-arrow')
							.cell-status__control-right
								i.ico
									+svg2('little-arrow')
					.cell-status__right
						.tag.manager-tag.purple-tag
							|AC
				.table-full__cell.row__cell.cell-exp
					i.label.green__label
						|Д2
					p
						|Агроном
					i.label.dirty-green__label
						|ВСТ
				.table-full__cell.row__cell.cell-notes
		.table-full__ready.ready
			.table-full__row
				.table-full__row-layer
					p.table-full__title
						|Готовятся к подаче
				.table-full__row-layer.f-container
					.table-full__cell.row__cell.cell-names
						p
							|Червінський Йосип
					.table-full__cell.row__cell.cell-status
						.cell-status__left
							.cell-status__slider
								p.status.choosen
									|Подготовка CV
								p.status.choosen
									|CV отправлено
								p.status.ready
									|Утвержден
								p.status.ready
									|Контракт подписан
								p.status.wait.active
									|Подан в визовый центр
								p.status.department
									|Получил разрешение
								p.status.department
									|Забрал разрешение
								p.status.department
									|Билеты куплены
								p.status.busy
									|Трудоустроен
							.cell-status__controls
								.cell-status__control-left
									i.ico.rotate-left
										+svg2('little-arrow')
								.cell-status__control-right
									i.ico
										+svg2('little-arrow')
						.cell-status__right
					.table-full__cell.row__cell.cell-exp
					.table-full__cell.row__cell.cell-notes
						p
							|Записан в посольство на 10.05
			.table-full__row.f-container
				.table-full__cell.row__cell.cell-names
					p
						|Шащук Іван
				.table-full__cell.row__cell.cell-status
				.table-full__cell.row__cell.cell-exp
					i.label.green__label
						|Практика
					p
						|Поля
				.table-full__cell.row__cell.cell-notes
		.table-full__wait.wait
			.table-full__row
				.table-full__row-layer
					p.table-full__title
						|Ждут разрешения
				.table-full__row-layer.f-container
					.table-full__cell.row__cell.cell-names
						p
							|Іванчик Олександр
					.table-full__cell.row__cell.cell-status
						.cell-status__left
							.cell-status__slider
								p.status.choosen
									|Подготовка CV
								p.status.choosen
									|CV отправлено
								p.status.ready
									|Утвержден
								p.status.ready
									|Контракт подписан
								p.status.wait.active
									|Подан в визовый центр
								p.status.department
									|Получил разрешение
								p.status.department
									|Забрал разрешение
								p.status.department
									|Билеты куплены
								p.status.busy
									|Трудоустроен
							.cell-status__controls
								.cell-status__control-left
									i.ico.rotate-left
										+svg2('little-arrow')
								.cell-status__control-right
									i.ico
										+svg2('little-arrow')
						.cell-status__right
					.table-full__cell.row__cell.cell-exp
					.table-full__cell.row__cell.cell-notes
			.table-full__row.f-container
				.table-full__cell.row__cell.cell-names
					p
						|Волтарніст Юлія
				.table-full__cell.row__cell.cell-status
					.cell-status__left
						.cell-status__slider
							p.status.choosen
								|Подготовка CV
							p.status.choosen
								|CV отправлено
							p.status.ready
								|Утвержден
							p.status.ready
								|Контракт подписан
							p.status.wait.active
								|Подан в визовый центр
							p.status.department
								|Получил разрешение
							p.status.department
								|Забрал разрешение
							p.status.department
								|Билеты куплены
							p.status.busy
								|Трудоустроен
						.cell-status__controls
							.cell-status__control-left
								i.ico.rotate-left
									+svg2('little-arrow')
							.cell-status__control-right
								i.ico
									+svg2('little-arrow')
					.cell-status__right
				.table-full__cell.row__cell.cell-exp
				.table-full__cell.row__cell.cell-notes
			.table-full__row.f-container
				.table-full__cell.row__cell.cell-names
					p
						|Ситнік Оксана
				.table-full__cell.row__cell.cell-status
					.cell-status__left
						.cell-status__slider
							p.status.choosen
								|Подготовка CV
							p.status.choosen
								|CV отправлено
							p.status.ready
								|Утвержден
							p.status.ready
								|Контракт подписан
							p.status.wait.active
								|Подан в визовый центр
							p.status.department
								|Получил разрешение
							p.status.department
								|Забрал разрешение
							p.status.department
								|Билеты куплены
							p.status.busy
								|Трудоустроен
						.cell-status__controls
							.cell-status__control-left
								i.ico.rotate-left
									+svg2('little-arrow')
							.cell-status__control-right
								i.ico
									+svg2('little-arrow')
					.cell-status__right
				.table-full__cell.row__cell.cell-exp
				.table-full__cell.row__cell.cell-notes
		.table-full__department.department
			.table-full__row
				.table-full__row-layer
					p.table-full__title
						|Готовятся к отъезду
				.table-full__row-layer.f-container
					.table-full__cell.row__cell.cell-names
						p
							|Коргун Максим
					.table-full__cell.row__cell.cell-status
						.cell-status__left
							.cell-status__slider
								p.status.choosen
									|Подготовка CV
								p.status.choosen
									|CV отправлено
								p.status.ready
									|Утвержден
								p.status.ready
									|Контракт подписан
								p.status.wait.active
									|Подан в визовый центр
								p.status.department
									|Получил разрешение
								p.status.department
									|Забрал разрешение
								p.status.department
									|Билеты куплены
								p.status.busy
									|Трудоустроен
							.cell-status__controls
								.cell-status__control-left
									i.ico.rotate-left
										+svg2('little-arrow')
								.cell-status__control-right
									i.ico
										+svg2('little-arrow')
						.cell-status__right
					.table-full__cell.row__cell.cell-exp
					.table-full__cell.row__cell.cell-notes
		.table-full__busy.busy
			.table-full__row
				.table-full__row-layer
					p.table-full__title
						|Трудоустроены
				.table-full__row-layer.f-container
					.table-full__cell.row__cell.cell-names
						p
							|Конончук Віталій
					.table-full__cell.row__cell.cell-status
						.cell-status__left
							.cell-status__slider
								p.status.choosen
									|Подготовка CV
								p.status.choosen
									|CV отправлено
								p.status.ready
									|Утвержден
								p.status.ready
									|Контракт подписан
								p.status.wait.active
									|Подан в визовый центр
								p.status.department
									|Получил разрешение
								p.status.department
									|Забрал разрешение
								p.status.department
									|Билеты куплены
								p.status.busy
									|Трудоустроен
							.cell-status__controls
								.cell-status__control-left
									i.ico.rotate-left
										+svg2('little-arrow')
								.cell-status__control-right
									i.ico
										+svg2('little-arrow')
						.cell-status__right
					.table-full__cell.row__cell.cell-exp
					.table-full__cell.row__cell.cell-notes
.row(data-custom-open="modal-1").no-open
	.f-container
		.row__terms.row__cell.medium
		.row__labels-2.row__cell.no-open
			i.label.attention__label.no-open
				span.no-open
					|DE
				span.no-open
					|18 - 5
		.row__indicators.row__cell
			span.row__indicator.decline
				|4
			span.row__indicator.choosen
				|8
			span.row__indicator.ready
				|5
			span.row__indicator.wait
				|12
			span.row__indicator.department
				|3
			span.row__indicator.busy
				|2
		.row__name-2.row__cell.no-open
			p.row__fullname.no-open
				|Gustav Schlüter Gmbh
			i.tag.manager-tag.light-green-tag.no-open
				|CK
		.row__vacancies.row__cell
		.row__notes.row__cell
			p
				|14.11.2019 - 15.04.2020 (6 мес)