.row(data-custom-open="modal-1")
	.f-container
		.row__terms.row__cell
		.row__labels.row__cell
			i.row__flag
				+svg2('flag-norway')
			p.row__abbr
				|NO
		.row__indicators.row__cell
			p
				|Thompson Equestrian Partners
		.row__name.row__cell
			p.row__fullname
				|Thompson Equestrian Partners / Junction Engineering
				i.tag.manager-tag.dark-blue-tag
					|AK
		.row__vacancies.row__cell
			i
				+svg2('phone')
			p
				a(href="tel:+4777847243")
					|+47 77847243
		.row__notes.row__cell
			p
				|14.11.2019 - 15.04.2020 (6 мес)