.sidebar__layout
	.f-container
		.sidebar__avatar
			a.sidebar__avatar-link(href='')
				img.sidebar__ava(src='img/ava.png' alt='Avatar')
			p.sidebar__name
				|Василий
		.sidebar__lists
			ul.sidebar__list
				li.sidebar__list-item.sidebar__li.active
					p
						|Вакансии
					span.sidebar__list-add
						span
						span
				li.sidebar__list-item.sidebar__li
					p
						|Клиенты
					span.sidebar__list-add
						span
						span
				li.sidebar__list-item.sidebar__li
					p 
						|Работодатели
					span.sidebar__list-add
						span
						span
				li.sidebar__list-item.sidebar__li
					p
						|Статистика
					span.sidebar__list-add
						span
						span
		.sidebar__statuses.active-archive__statuses
		.sidebar__filters
			.sidebar__input-wrapper#vacancy-search-input-wrapper
			ul.sidebar__filter
				li.sidebar__filter-item.sidebar__li
					.sidebar__filter-wrapper.country-filter-wrapper-vacancy
						p
							|Страны
						span.sidebar__filter-remove
				li.sidebar__filter-item.sidebar__li
					.sidebar__filter-wrapper.type-work-filter-wrapper
						p
							|Типы работ
						span.sidebar__filter-remove
				li.sidebar__filter-item.sidebar__li
					.sidebar__filter-wrapper.date-terms-filter-wrapper
						p
							|Даты и сроки
						span.sidebar__filter-remove
				li.sidebar__filter-item.sidebar__li
					.sidebar__filter-wrapper.managers-filter-wrapper-vacancy
						p
							|Менеджер
						span.sidebar__filter-remove
				li.sidebar__filter-item.sidebar__li
					.sidebar__filter-wrapper.stages-vacancies-filter-wrapper
						p
							|Этапы вакансий
						span.sidebar__filter-remove
		.sidebar__stats
			.sidebar__stats-top
				ul.sidebar__stat
					li.sidebar__stat-item.sidebar__li
						.sidebar__stats-wrapper.selecting-stats-wrapper
							p
								|Сотрировка
							span.sidebar__filter-remove
			.sidebar__stats-bottom
				ul.sidebar__stat
					li.sidebar__stat-item.sidebar__li
						.sidebar__stats-wrapper
							p
								|Распечатать отчет
		.sidebar__wrapper.sidebar__stat-nums_vacancy
