.clients .modal-row__layer {
	.table-full__layer .table-full__row:not(:last-child):before {
		content: none;
	}

	&.empty-layer {
		padding: 0;
		border: none;
		border-top: 1px solid #85a6cb;
		height: 1px !important;
	}


	position: relative;
	overflow-y: auto;

	.table-full {
		max-width: 100%;
		margin: 0;
		min-width: 998px;
	}

	.cell-names {
		flex-basis: 211/989 * 100%;
		margin: 0;
		padding: 0 13px;
		border-right: 1px solid @white;
		position: relative;
		max-width: 211px;
		flex-grow: 0;
		flex-shrink: 1;
	}

	.cell-status {
		flex-basis: 355/989 * 100%;
		margin: 0;
		padding: 0 13px;
		padding-left: 10px;
		border-right: 1px solid @white;
		flex-grow: 0;
		flex-shrink: 1;
	}

	.cell-exp {
		flex-basis: 177/989 * 100%;
		// margin: 0;
		margin: 0;
		flex-grow: 0;
		flex-shrink: 1;
		border-right: 1px solid @white;
		// max-width: 151px;
		overflow-x: hidden;

		.row__cell-wrapper {
			width: 100%;
			max-width: 151px;
			margin: 0 13px;
		}
	}

	.cell-notes {
		flex-basis: 248/989 * 100%;
		margin: 0;
		// padding: 0 13px;
		max-width: 248px;
		border-right: 1px solid @white;
		flex-grow: 0;
		flex-shrink: 1;
	}


	.cell-status__left {
		border-right: 1px solid #fff;
	}


	.table-full__layer {
		.table-full__row {
			&:first-child {
				.cell-names {
					position: relative;
					overflow: visible;

					&:after {
						content: '';
						right: -1px;
						width: 1px;
						position: absolute;
						height: calc(100% + 29px);
						bottom: -4px;
						background: @white;
						z-index: -1;
					}
				}

				.cell-exp,
				.cell-status,
				.cell-notes,
				.cell-status__left {
					position: relative;
					overflow: visible;

					&:after {
						content: '';
						right: -1px;
						width: 1px;
						position: absolute;
						height: calc(100% + 29px);
						bottom: -4px;
						background: @white;
						z-index: -1;
					}
				}
			}
		}
	}

	.table-full__layer .table-full__row {

		// &:nth-child(2) {
		// 	.indicator {
		// 		span {
		// 			margin-top: 0.25em;
		// 		}
		// 	}
		// }

		border-bottom: 1px solid @white;
		// &:not(:first-child) {
		// 	border-bottom: 1px solid @white;
		// }

		&:last-child {
			border-bottom: none;
		}


		&:first-child {

			// padding-bottom: 0;
			.table-full__title {
				flex-basis: 211/989 * 100%;
				border-right: 1px solid @white;
			}

			.table-full__placeholder.first {
				flex-basis: 355/989 * 100%;
				border-right: 1px solid @white;
			}

			.table-full__placeholder.second {
				flex-basis: 177/989 * 100%;
				border-right: 1px solid @white;
			}

			.table-full__placeholder.third {
				flex-basis: 246/989 * 100%;
				border-right: 1px solid @white;
			}
		}

	}

	.table-full__busy {
		.table-full__row {
			&:last-child {
				border-bottom: 1px solid @white;
			}
		}
	}
}

.clients-layer {
	width: 100%;

	.row__full-info .row__indicator span {
		margin-top: 0.25em;
	}

	.cell-status__left {
		padding-right: 9px;
	}
}

.switcher {
	position: absolute;
	left: 0;
	z-index: 10;
	cursor: pointer;
	top: 35px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: @main-color;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: transform 0.2s linear;
	transform: rotate(0deg);

	svg {
		width: 8px;
		height: 8px;

	}

	&.rotate {
		transform: rotate(180deg);
	}
}

.modal-row__clients-row {
	cursor: pointer;

	// transition: 0.2s opacity 0.3s linear, 0.2s height 0.3s linear;
	&:not(.active) {
		opacity: 0;
		visibility: hidden;
		// transition: 0.2s opacity 0.3s linear, 0.2s height 0.3s linear;
		height: 0;

	}

	p {
		// text-overflow: ellipsis;
		// overflow: hidden;
		// white-space: nowrap;

	}
}

#choice-client-popup {
	p {
		padding: 0;
	}
}

.clients-layer {
	.table-full__row:first-child .table-full__placeholder.first:after {
		content: none;
	}
}


// .os-host-overflow-x {
// 	.os-content-glue {
// 		transition: height 0.2s;
// 	}
// }