.row__terms {
	flex-basis: 8/1720 * 100%;
	min-width: 8px;
	padding: 0;
	margin: 0;

	&.hot {
		background: @hot;
	}

	&.medium {
		background: @medium;
	}
}


.vacancy-rows {
	.row__fullname {
		a {
			color: @font-color;

			&:focus {
				font-weight: 400;
			}
		}

		transition: text-decoration 0.8s linear;

		&:hover {
			text-decoration: underline;
		}
	}
}


.row__labels-2 {
	flex-basis: (229 - 26)/1720 * 100%;


	a.label,
	i.label {
		max-width: unset;
		width: auto;
	}

	.number-of-people {
		overflow-x: visible;

		&:not(:last-child) {
			margin-right: 15px;
		}
	}

}

.row__labels-2-layer {
	display: flex;
	width: auto;
	align-items: center;

	&:hover {
		.attention__label {
			background: @orange - 25;
		}

		.attention-number {
			color: @orange - 25;
		}
	}
}

.row__indicators,
.row__archive {
	flex-basis: (244 - 26)/1720 * 100%;

}


.row__name-2 {
	flex-basis: (389 - 26)/1720 * 100%;

	justify-content: space-between;

	p {
		margin-right: 10px;
	}
}


.row__vacancies {
	flex-basis: (320 - 26)/1720 * 100%;

	p {
		min-width: 15px;

		&:not(:last-child) {
			margin-right: 15px;
		}
	}

}

.row__notes {
	flex-basis: (531 - 26)/1720 * 100%;
}

.row__indicators {
	justify-content: space-between;
}

.row__cell .row__indicator {
	overflow: visible;

	span {
		// line-height: 22px;
		// margin-top: 0.25em;
		display: inline-block;

	}

}


.row__full-info {
	max-width: (1720 - 235)/1720 * 100%;
	margin-left: auto;

	.row__indicator {
		width: 20px;
		height: 20px;
		min-width: 20px;
		font-size: 12px;

		span {
			margin-top: 0.3em;
			font-weight: 700;
		}
	}
}

.table-full {
	position: relative;
	z-index: 10;
	transition: height 0.35s ease-in-out;
	overflow: hidden;

	&.open {
		display: block;
	}


	&:not(.active) {
		display: none;
		transition: height 0.35s ease-in-out;
	}

	.f-container {
		height: 30px;
	}
}


.table-full__layer .table-full__row {

	&:not(:last-child) {
		position: relative;
		border-bottom: 1px solid transparent;

		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			width: 100%;
			left: 0;
			height: 1px;
			background-color: @ligth-gray;
			z-index: -5;
			opacity: 0.99;
			transition: 0.25s background-color linear;
		}
	}

}


p.status {
	padding: 2px 6px;
	border-radius: 15px;
	height: 20px;
	overflow: visible;

	transition: background 0.2s linear, color 0.2s linear;
	// &:hover {
	// 	color: @white;
	// }


}

.table-full__cell {
	padding: 2px 0px;

	a.label,
	i.label {
		width: auto;
	}
}

.table-full__choosen {
	position: relative;
	border-top: 2px solid @grass-green;
	border-left: 4px solid @grass-green;

	.table-full__title {
		color: @grass-green;

	}

	&.hidden {
		display: none;
	}

}


.table-full__ready {
	position: relative;
	border-top: 2px solid @green;
	border-left: 4px solid @green;

	.table-full__title {
		color: @green;

	}

	&.hidden {
		display: none;
	}

}

.table-full__wait {
	position: relative;
	border-top: 2px solid @teal;
	border-left: 4px solid @teal;

	.table-full__title {
		color: @teal;
	}

	&.hidden {
		display: none;
	}

}

.table-full__department {
	position: relative;
	border-top: 2px solid @blue;
	border-left: 4px solid @blue;

	.table-full__title {
		color: @blue;
	}

	&.hidden {
		display: none;
	}

}

.table-full__busy {
	position: relative;
	border-top: 2px solid @brown;
	border-left: 4px solid @brown;

	.table-full__title {
		color: @brown;
	}

	&.hidden {
		display: none;
	}

}

.table-full__grid {
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	z-index: 1;
}

.table-full__grid-column_first {
	flex-basis: 241/1481 * 100%;
	border-right: 1px solid @main-color;
}

.table-full__grid-column_second {
	flex-basis: 389/1481 * 100%;
	border-right: 1px solid @main-color;
}

.table-full__grid-column_third {
	flex-basis: 320/1481 * 100%;
	border-right: 1px solid @main-color;
}

.table-full__grid-column_fourth {
	flex-basis: 531/1481 * 100%;
}

.table-full__row:first-child {
	display: flex;
	// height: auto;
	// border-bottom: unset;
	// padding-bottom: 2px;

	.table-full__title {
		flex-basis: 244/1484 * 100%;
	}

	.table-full__placeholder.first {
		flex-basis: 389/1484 * 100%;
		position: relative;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			height: calc(100% + 9999px);
			width: 37.2%;
			// min-width: 143px;
			// max-width: 149px;
			z-index: -1;
			pointer-events: none;
			right: 0;
			border-left: 1px solid @ligth-gray;
		}

	}

	.table-full__placeholder.second {
		flex-basis: 320/1484 * 100%;
	}

	.table-full__placeholder.third {
		flex-basis: 531/1484 * 100%;
	}
}

.table-full__title {
	padding: 0 13px;
	padding-top: 7px;
	font-size: 12px;
	line-height: 14/12;

}



.cell-names {
	flex-basis: (240 - 17)/1484 * 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 12px;
	margin-right: 5px;

	a {
		color: @font-color;
		transition: text-decoration 0.2s linear;

		&:hover {
			text-decoration: underline;
		}

		&:focus {
			font-weight: 400;
		}
	}

}

.cell-status {
	flex-basis: (389 - 16)/1484 * 100%;
	padding: 0;
	margin-left: 6px;
	margin-right: 10px;
	overflow: visible;


	&:hover {
		.cell-status__controls {
			opacity: 1;
			visibility: visible;
			pointer-events: all;
		}

		p.status {
			color: @white;


			&.choosen {
				background: @grass-green;
			}

			&.decline {
				background: @creame-orange;
			}

			&.choosen {
				background: @grass-green;
			}

			&.ready {
				background: @green;
			}

			&.wait {
				background: @teal;
			}

			&.department {
				background: @blue;
			}

			&.busy {
				background: @brown;
			}

		}
	}

}

.cell-exp {
	flex-basis: (323 - 26)/1484 * 100%;

	i.label:not(:last-child) {
		margin-right: 10px;
	}

	p:not(:last-child) {
		margin-right: 20px;
		min-width: 30px;
	}

	.prof-education {
		display: flex;
		margin-right: 10px;
		align-items: center;
	}
}

.cell-notes {
	flex-basis: 530/1484 * 100%;
	margin: 0;
	padding: 0;

	input {
		background: transparent;
		text-align: left;
		padding: 2px 13px;
		height: 100%;

		&:focus {
			background: @white;
		}
	}
}


.cell-status__left {
	flex-basis: 259/389 * 100%;
	// border-right: 1px solid @ligth-gray;
	height: 100%;
	display: flex;
	align-items: center;
	padding-right: 6px;
	flex-grow: 1;
	justify-content: space-between;
	// max-width: 227px - 13px;

	.ico {
		width: 6px;
		height: 8px;
		display: flex;
		justify-content: center;
		align-items: center;
	}



	position: relative;
	overflow: visible;

	&:after {
		content: '';
		right: -1px;
		width: 1px;
		position: absolute;
		height: calc(100% + 29px);
		bottom: -4px;
		background: @ligth-gray;
		z-index: -1;
		transition: 0.25s linear background-color;
	}

}

.cell-status__right {
	flex-basis: (389-259)/363 * 100%;
	height: 100%;
	display: flex;
	align-items: center;
	padding-left: 10px;
	justify-content: flex-end;
	// min-width: 130px - 13px;
	// width: 130px - 13px;

	&>*:not(:last-child) {
		margin-right: 8px;
	}
}

.status {
	display: none;

	&.active {
		display: block;
	}
}

.cell-status__controls {
	// display: none;
	display: flex;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: opacity .25s linear;

	svg {
		width: 8px;
		height: 8px;
	}

	.cell-status__control-left {
		padding: 6px 7px;
		border-right: 0.5px solid @white;
		padding-right: 4px;
		background: @grass-green;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;

		.ico.rotate-left {
			svg {
				transform: rotate(180deg);
			}

		}
	}


	.cell-status__control-right {
		padding: 6px 7px;
		padding-left: 4px;
		background: @grass-green;
		border-left: 0.5px solid @white;
		border-top-right-radius: 25px;
		border-bottom-right-radius: 25px;
	}

	&.choosen {

		.cell-status__control-right,
		.cell-status__control-left {
			background: @grass-green;
		}

	}

	&.ready {

		.cell-status__control-right,
		.cell-status__control-left {
			background: @green;
		}

	}

	&.wait {

		.cell-status__control-right,
		.cell-status__control-left {
			background: @teal;
		}
	}

	&.department {

		.cell-status__control-right,
		.cell-status__control-left {
			background: @blue;
		}
	}

	&.busy {

		.cell-status__control-right,
		.cell-status__control-left {
			background: @brown;
		}
	}
}



.cell-status__slider {
	// padding-left: 6px;
}

.label .language-stars {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 0;
}

.language__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 10px;
}